include ../helpers/variables
include ../helpers/mixins

doctype html
html
	block vars
	include ../partials/head
	body(id="#{page.bodyid}")
		block top
			include ../modules/drawer
			.is-moved-by-drawer
				block content

