//-******************************
//-
//-*   header.jade
//-
//-******************************/

.section-main-menu
  .container
    nav.nav.nav__items
      ul.nav.navbar-nav.link-box
        li.link-item.active
          a.nav__item-link(href="", target="_blank")
            | OBJECTS
        li.link-item
          a.nav__item-link(href="", target="_blank")
            | INSPECTIONS
        li.link-item
          a.nav__item-link(href="", target="_blank")
            | USERS
        li.link-item
          a.nav__item-link(href="", target="_blank")
            | TEMPLATES
        li.link-item
          a.nav__item-link(href="", target="_blank")
            | DICTIONARY
