//-******************************
//-
//-*   M01-nav-login.jade
//-
//-******************************/

.header
  .header-top
    .col-xs-12
      .pull-left
        .header-logo.pull-left
          a(href='#')
            img(src='css/images/Inspection_4.png')
        .header-top-phone.pull-left
          i.fa.fa-phone(aria-hidden='true')
          span.hidden-xs +38 044 000 0000
        .header-top-envelope.pull-left
          i.fa.fa-envelope(aria-hidden='true')
          a(href='#').hidden-xs inspect@email.com
