//-******************************
//-
//-*   M01-nav.jade
//-
//-******************************/

.container
  .navbar(role='navigation')
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-header.navbar-brand
      img.navbar-brand.logo(src='css/images/Inspection_4.png')
    .form-group.phone
      i.fa.fa-phone(aria-hidden='true')
      span +38 044 000 0000
    .form-group.envelope
      i.fa.fa-envelope(aria-hidden='true')
      a(href='#') inspect@email.com
    .nav.navbar-nav.navbar-right
      .card
        img(src='css/images/img1.jpg', width='40', height='40')
      .card-seting
        a(href='Auth.html')
          i.fa.fa-cog.fa-2x(aria-hidden='true')
        
        
      //- .navbar-header
      //-   button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
      //-     span.sr-only Toggle navigation
      //-     span.icon-bar
      //-     span.icon-bar
      //-     span.icon-bar
      //-   a.navbar-brand(href='#')
      //-     img.navbar-brand.logo(src='css/images/Inspection_4.png')
      //-   ul.nav.navbar-nav.navbar-header-contact
      //-     li
      //-       a(href='#')
      //-         i.fa.fa-phone(aria-hidden='true')
      //-         span +38 044 000 0000
      //-     li
      //-       a(href='#')
      //-         i.fa.fa-envelope(aria-hidden='true')
      //-         span inspect@email.com
      //-   ul.nav.navbar-nav.navbar-right.navbar-header-user
      //-     img(src='css/images/img1.jpg', width='40', height='40')
      //-     a(href='Auth.html')
      //-       i.fa.fa-cog.fa-2x(aria-hidden='true')
      //- #bs-example-navbar-collapse-1.collapse.navbar-collapse
      //-   ul.nav.navbar-nav.navbar-right
      //-       //li.dropdown
      //-       a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
      //-         | KDMA OSBB Fund
      //-         span.caret
      //-       ul.dropdown-menu
      //-         li
      //-           a(href='#') Не определено
      //-         li
      //-           a(href='#') Ок
      //-         li
      //-           a(href='#') Внимание
      //-         li.divider(role='separator')
      //-         li
      //-           a(href='#') Критично
      //-         li
      //-           a(href='#') Не корректно
      //-         li
      //-           a(href='#') Без оценки
      //-     li
      //-       a(href='#') Объекты
      //-     li.active
      //-       a(href='#') Инспекции
      //-     li
      //-       a(href='#') Пользователи
      //-     li
      //-       a(href='#') Шаблоны
      //-     li
      //-       a(href='#') Словарь
