//-******************************
//-
//-*   M01-nav.jade
//-
//-******************************/

nav.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-brand(href='#') 
        img.navbar-brand.logo(src='css/images/Inspection_4.png')

    .form-group__phone
      i.fa.fa-phone(aria-hidden='true')
      span +38 044 000 0000
    .form-group__envelope
      i.fa.fa-envelope(aria-hidden='true')
      a(href='#') inspect@email.com
    .navbar-right
      .form-group.pull-right
        .card
          img(src='css/images/img1.jpg', width='40', height='40')
        .card-seting
          a(href='Auth.html')
            i.fa.fa-cog.fa-2x(aria-hidden='true')
.row
  .col-xs-12
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | KDMA OSBB Fund 
            span.icon
              i.fa.fa-chevron-down(aria-hidden='true')
          ul.dropdown-menu
            li.wrapper-select_item
              a(href='#') Не определено
            li.wrapper-select_item
              a(href='#') Ок
            li.wrapper-select_item
              a(href='#') Внимание
            li.wrapper-select_item
              a(href='#') Критично
            li.wrapper-select_item
              a(href='#') Не корректно
            li.wrapper-select_item
              a(href='#') Без оценки
        li.link-item.active
          a(href="", target="_blank") OBJECTS
        li.link-item
          a(href="", target="_blank") INSPECTIONS
        li.link-item
          a(href="", target="_blank") USERS
        li.link-item
          a(href="", target="_blank") TEMPLATES
        li.link-item
          a(href="", target="_blank") DICTIONARY

//- .container
//-   .navbar(role='navigation')
//-     .navbar-header
//-       button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
//-         span.sr-only Toggle navigation
//-         span.icon-bar
//-         span.icon-bar
//-         span.icon-bar
//-     .navbar-header.navbar-brand
//-       img.navbar-brand.logo(src='css/images/Inspection_4.png')
//-     .form-group.phone
//-       i.fa.fa-phone(aria-hidden='true')
//-       span +38 044 000 0000
//-     .form-group.envelope
//-       i.fa.fa-envelope(aria-hidden='true')
//-       a(href='#') inspect@email.com
//-     .nav.navbar-nav.navbar-right
//-       .card
//-         img(src='css/images/img1.jpg', width='40', height='40')
//-       .card-seting
//-         a(href='Auth.html')
//-           i.fa.fa-cog.fa-2x(aria-hidden='true')
