//-******************************
//-
//-*   M01-nav-login.jade
//-
//-******************************/

.nav-login
  .col-md-6.col-md-offset-3
    .navbar
      .navbar-header.navbar-brand
        img.navbar-brand.logo(src='css/images/Inspection_4.png')
      .form-group.phone
        i.fa.fa-phone(aria-hidden='true')
        span +38 044 000 0000
      .form-group.envelope
        i.fa.fa-envelope(aria-hidden='true')
        a(href='#') inspect@email.com
