//M01-nav.jade


.navbar.navbar-default.navbar-static-top(role='navigation')
  .navbar-header
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .navbar-header.navbar-brand
    img.navbar-brand.logo(src='css/images/Inspection_4.png')
  .navbar-brand.text.text-right
    .form-group.phone
      i.fa.fa-phone(aria-hidden='true')
      span +38 044 000 0000
    .form-group.envelope
      i.fa.fa-envelope(aria-hidden='true')
      a(href='#') inspect@email.com
  ul.nav.navbar-nav.navbar-right
    li
      .col-md-3
        .card
          canvas#header-blur.header-bg(width='40', height='40')
          .avatar
            img(src='', alt='')
    li
      a(href='Auth.html')
        i.fa.fa-cog.fa-2x(aria-hidden='true')
