//*!******************************
//-*   M01a-nav-login.jade
//-******************************/

.header.-adminStyle
  .container
    .row
      .col-md-7.centralBlock
        .logo
          img(src="css/images/Inspection_4.png")
        .text.-adminStyle Проверка. Проверки. Администратор
      .col-md-5.rightSide
          .text Дата
          .date
            span 04.10.2016
