//*!******************************
 *
 *   M03- inspection.jade
 *
 ******************************/



#accordion.panel-group
  .panel.panel-info
    .panel-heading
      h3.panel-title 
        p.name_colection Collect №1
        p.name_colection Management
      span.pull-right.clickable
        i.glyphicon.glyphicon-chevron-up
    .panel-body 
      include M06-Slavutich
      include M07-Korsun
      include M08-OSBB
