// M03-inspectsidebar.jade

#accordion.panel-group
  .panel.panel-default
    .panel-heading
      h3.panel-title
        p.name_colection Collect №1
        p.name_colection Management
      span.pull-right.clickable
        i.fa.fa-chevron-down(aria-hidden='true')
    .panel-body
      .left-sidebar
        include M13-sidebar
      .right-sidebar
