//M03- inspection.jade

#accordion.panel-group  
  .panel.panel-heading
    .wrapper
      .center-block          
          btn.btn-link.addcollection
            i.fa.fa-plus(aria-hidden='true')
          ul.list-inspection
            li ОСББ Менеджмент
            li >
            li Management 
          .form-horizontal.pull-right
            btn.btn-link.circle
              i.fa.fa-check-circle-o.fa-lg(aria-hidden='true')
            .input-group
              
            //-   button.btn.btn-link(type='submit')
            //-     i.fa.fa-search(aria-hidden='true')
            //-   input.form-control(type='text', placeholder='Search', name='q')
            //- btn.btn-link.pull-right.clickable
            //-   i.fa.fa-chevron-down(aria-hidden='true')
            //- btn.btn-link.pull-right
            //-   i.fa.fa-ellipsis-v(aria-hidden='true')

        .panel-body
          include M06-Slavutich
          include M07-Korsun
          include M08-OSBB
