//-******************************
//-
//-*   M04-calendar.jade
//-
//-******************************/
#calendar
  time.icon(datetime='2017-06-20')
    strong 2017
    sup Июнь
    span 25
    em Пятница
    
  time.icon(datetime='2017-06-20')
    strong 2017
    sup Август
    span 16
    em Среда
