//-******************************
//-
//-*   M04-calendar.jade
//-
//-******************************/
#calendar
  time.icon(datetime='2017-06-20')
    strong 2017
    sup Июнь
    span 20
    em Пятница
    
  time.icon(datetime='2017-06-20')
    strong 2017
    sup Июнь
    span 20
    em Пятница
           
