//M05- tables.jade

table.table.table-striped
  .container
    .row
      h2 FIxed Header Table/ Scroll Table Body
      table.points_table
        thead
          tr
            th.col-xs-1 #
            th.col-xs-7 Team
            th.col-xs-1 S
            th.col-xs-1 M
            th.col-xs-1 L
            th.col-xs-1 O
        tbody.points_table_scrollbar
          tr.odd
            td.col-xs-1 1
            td.col-xs-7 Test Points
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.even
            td.col-xs-1 2
            td.col-xs-7 Test Points 2
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.odd
            td.col-xs-1 3
            td.col-xs-7 Test Points 3
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.even
            td.col-xs-1 4
            td.col-xs-7 Test Points 4
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.odd
            td.col-xs-1 5
            td.col-xs-7 Test Points 5
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.even
            td.col-xs-1 6
            td.col-xs-7 Test Points 6
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.odd
            td.col-xs-1 7
            td.col-xs-7 Test Points 7
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.even
            td.col-xs-1 8
            td.col-xs-7 Test Points 8
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.odd
            td.col-xs-1 9
            td.col-xs-7 Test Points 9
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.even
            td.col-xs-1 10
            td.col-xs-7 Test Points 10
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.odd
            td.col-xs-1 11
            td.col-xs-7 Test Points 11
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.even
            td.col-xs-1 12
            td.col-xs-7 Test Points 12
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.odd
            td.col-xs-1 13
            td.col-xs-7 Test Points 13
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.even
            td.col-xs-1 14
            td.col-xs-7 Test Points 14
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.odd
            td.col-xs-1 15
            td.col-xs-7 Test Points 15
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.even
            td.col-xs-1 16
            td.col-xs-7 Test Points 16
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.odd
            td.col-xs-1 17
            td.col-xs-7 Test Points 17
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.even
            td.col-xs-1 18
            td.col-xs-7 Test Points 18
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.odd
            td.col-xs-1 19
            td.col-xs-7 Test Points 19
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
          tr.even
            td.col-xs-1 20
            td.col-xs-7 Test Points 20
            td.col-xs-1 10
            td.col-xs-1 0
            td.col-xs-1 5
            td.col-xs-1 1
