//-******************************
//-
//-*   M06-Slavutich.jade
//-
//-******************************/

#accordion
  .panel-group
    .panel.panel-heading.panel-heading__main.clearfix
        h3.panel-title Slavutich
        .form-group.pull-right
          btn.btn-link
            i.fa.fa-print(aria-hidden='true', type='text', data-toggle='tooltip', data-placement='top', title='print')
          btn.btn-link
            i.fa.fa-share-square-o(aria-hidden='true')
          .btn-group.btn-group__elips
            btn.btn-link.clickable
              i.fa.fa-ellipsis-v(aria-hidden='true')
