//-******************************
//-
//-*   M06-Slavutich.jade
//-
//-******************************/

#accordion
  .panel-group
    .panel.panel-heading.panel-heading__main
        h3.panel-title Slavutich
        .form-group.pull-right
          btn.btn-link
            i.fa.fa-print(aria-hidden='true')
          btn.btn-link
            i.fa.fa-share-square-o(aria-hidden='true')
          span.pull-right.clickable
            i.fa.fa-chevron-down(aria-hidden='true')
