//M06-Slavutich.jade

#accordion.panel-group
  .panel.panel-default.list-col
    .panel-heading
      h3.panel-title 
        p.name_colection Slavutich
      .form-group.pull-right
        btn.btn-link
          i.fa.fa-print(aria-hidden='true')
        btn.btn-link
          i.fa.fa-share-square-o(aria-hidden='true')
        btn.btn-link.pull-right.clickable
          i.fa.fa-chevron-down(aria-hidden='true')
    .panel-body
      include M09-panel-primary
      include M10-panel-info
