//M08-OSBB.jade

#accordion.panel-group
  .panel.panel-default.list-col
    .panel-heading
      h3.panel-title 
        p.name_colection OSBB
      span.pull-right.clickable
        i.fa.fa-chevron-down(aria-hidden='true')
    .panel-body
      include M09-primary
      include M10-info
      include M11-warning
