//-******************************
//-
//-*   M08-success.jade
//-
//-******************************/

.col-lg-4.col-md-6.col-sm-6.col-xs-12
  .panel.panel-success
    .panel-heading 
      a(href="#")
        i.fa.fa-plus.colgrey(aria-hidden='true')
      p.name_colection Качество объектов
      btn.btn-link.pull-right
        i.fa.fa-ellipsis-v(aria-hidden='true')
    .panel-body 
      table.table.table-condensed.table-striped
        thead
          tr
            th статус состояния
            th колличество
              
        tbody
          tr
            th Не определено
              span.pull-left
                i.fa.fa-clock-o(aria-hidden='true')
            th 180

          tr
            th Ок
              span.pull-left
                i.fa.fa-check-circle-o(aria-hidden='true')
            th 52

          tr
            th Внимание
              span.pull-left
                i.fa.fa-exclamation-circle(aria-hidden='true')
            th 10

          tr
            th Критично
              span.pull-left
                i.fa.fa-times-circle-o(aria-hidden='true')
            th 7

          tr
            th Не корректно
              span.pull-left
                i.fa.fa-question-circle-o(aria-hidden='true')
            th 0

          tr
            th Без оценки
              span.pull-left
                i.fa.fa-ban(aria-hidden='true')
            th 0
          tr 
            th Итого
            th
              span.summary 242
