//-******************************
//-
//-*   M08-panel-OSBB
//-
//-******************************/

#accordion
  .panel-group
    .panel.panel-heading
      btn.btn-link.addcollection
        i.fa.fa-plus(aria-hidden='true')
      ul.list-inspection
        li 
          a(href="#") ОСББ Менеджмент
        li  >
        li Management
      .form-horizontal.pull-right
        btn.btn-link.circle
          i.fa.fa-check-circle-o.fa-lg(aria-hidden='true')
        input.search.pull-right(type='text', placeholder='Search')

    .panel-body
      include M09-panel-primary
      include M10-panel-info
