.col-lg-4.col-md-6.col-sm-6.col-xs-12
   .alert.alert-success
     a
       i.fa.fa-plus.colgrey(aria-hidden='true')
     | Inspection
     btn.btn-link
       i.fa.fa-ellipsis-v.pull-right.colgrey(aria-hidden='true')
   .alert.alert-success(style='display:none;')
     span.glyphicon.glyphicon-ok
     |  Drag table row and cange Order
   table.table
     thead
       tr
         th
           | Column heading
         th
           | Column heading
         th
           | Column heading
     tbody
       tr.active
         td
           | Column content
         td
           | Column content
         td
           | Column content
       tr
         td
           | Column content
         td
           | Column content
         td
           | Column content
       tr.success
         td
           | Column content
         td
           | Column content
         td
           | Column content
       tr
         td
           | Column content
         td
           | Column content
         td
           | Column content
       tr.warning
         td
           | Column content
         td
           | Column content
         td
           | Column content
       tr
         td
           | Column content
         td
           | Column content
         td
           | Column content
       tr.danger
         td
           | Column content
         td
           | Column content
         td
           | Column content
