// M09-success.jade

.col-lg-4.col-md-6.col-sm-6.col-xs-12
   .panel.panel-success
     .panel-heading
       .panel-title 
         a
           i.fa.fa-plus.colgrey(aria-hidden='true')
         p.name_colection To Do list
       span.pull-right.clickable
         i.fa.fa-chevron-down(aria-hidden='true')
     .panel-body 
       table.table.table-condensed.table-striped
           thead
               tr
                   th
                       i.fa.fa-check-square-o(aria-hidden='true')
                   th Часовые
                   th 2255
                   th 2255
                   th 2255
               tr
                   th
                       i.fa.fa-check-square-o(aria-hidden='true')
                   th Дневные
                   th 2255
                   th 2255
                   th 2255
               tr
                   th
                       i.fa.fa-check-square-o(aria-hidden='true')
                   th Недельные
                   th 2255
                   th 2255
                   th 2255
               tr
                   th
                       i.fa.fa-check-square-o(aria-hidden='true')
                   th Месячные
                   th 2255
                   th 2255
                   th 2255
               tr
                   th
                       i.fa.fa-check-square-o(aria-hidden='true')
                   th Неназначеные
                   th 2255
                   th 2255
                   th 2255
               tr
                   th
                       i.fa.fa-check-square-o(aria-hidden='true')
                   th Оперативные
                   th 2255
                   th 2255
                   th 2255
