//-******************************
//-
//-*   M09-primary.jade
//-
//-******************************/

.col-lg-4.col-md-6.col-sm-6.col-xs-12
  .panel.panel-primary
    .panel-heading Состояние по типам инспекций
      .panel-title 
        a(href="#")
          i.fa.fa-plus.colgrey(aria-hidden='true') 
        btn.btn-link.pull-right
          i.fa.fa-ellipsis-v(aria-hidden='true')
    .panel-body 
