// M09-success.jade

.col-lg-4.col-md-6.col-sm-6.col-xs-12
   .panel.panel-success
     .panel-heading
       .panel-title 
         p.name_colection Состояние по типам инспекций
       span.pull-right.clickable
         i.fa.fa-ellipsis-v(aria-hidden='true')
     .panel-body 
       table.table.table-condensed.table-striped
           thead
               tr
                   th
                     input.checkbox(type='checkbox')
                   th Часовые
                   th 2255
                   th 2255
                   th 2255
               tr
                   th
                     input.checkbox(type='checkbox')
                   th Дневные
                   th 2255
                   th 2255
                   th 2255
               tr
                   th
                     input.checkbox(type='checkbox')
                   th Недельные
                   th 2255
                   th 2255
                   th 2255
               tr
                   th
                     input.checkbox(type='checkbox')
                   th Месячные
                   th 2255
                   th 2255
                   th 2255
               tr
                   th
                     input.checkbox(type='checkbox')
                   th Неназначеные
                   th 2255
                   th 2255
                   th 2255
               tr
                   th
                     input.checkbox(type='checkbox')
                   th Оперативные
                   th 2255
                   th 2255
                   th 2255
