// M11-danger.jade

.col-lg-4.col-md-6.col-sm-6.col-xs-12
  .panel.panel-warning
    .panel-heading
      .panel-title 
        p.name_colection Качество объектов
      span.pull-right.clickable
        i.fa.fa-chevron-down(aria-hidden='true')
    .panel-body 
      table.table.table-condensed.table-striped
        thead
          tr 
              th Часовые
              th 
              th 
              th 
          tr
              th Дневные
              th 
              th 
              th 
          tr
              th Недельные
              th 
              th 
              th 
          tr
              th Месячные
              th 
              th 
              th 
          tr
              th Неназначеные
              th 
              th 
              th 
          tr
              th Оперативные
              th 
              th 
              th 
