//M12-buttons.jade

.col-md-2
  .btn-group
    .wrapper-select
      span.wrapper-select_default Выберете пункт
      ul.wrapper-select_list
        li.wrapper-select_item
          | Не определено
        li.wrapper-select_item
          | Ок
        li.wrapper-select_item
          | Внимание
        li.wrapper-select_item
          | Критично
        li.wrapper-select_item
          | Не корректно
        li.wrapper-select_item
          | Без оценки

      ul.dropdown-menu
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider(role='separator')
        li
          a(href='#') Separated link
.col-md-10
  .panel-body
    button.btn.btn-default OBJECTS
    button.btn.btn-default INSPECTIONS
    button.btn.btn-default USERS
    button.btn.btn-default TEMPLATES
    button.btn.btn-default DICTIONARY
