//-******************************
//-
//-*   M12-buttons.jade
//-
//-******************************/

.col-md-2.not-padd
  .wrapper-select
    span.wrapper-select_default KDMA OSBB Fund
    ul.wrapper-select_list
      li.wrapper-select_item
        | Не определено
      li.wrapper-select_item
        | Ок
      li.wrapper-select_item
        | Внимание
      li.wrapper-select_item
        | Критично
      li.wrapper-select_item
        | Не корректно
      li.wrapper-select_item
        | Без оценки

    ul.dropdown-menu
      li
        a(href='#') Action
      li
        a(href='#') Another action
      li
        a(href='#') Something else here
      li.divider(role='separator')
      li
        a(href='#') Separated link
.col-md-10
  ul.link-box
    li.link-item
      a.cons(href='#')
        | OBJECTS
    li.link-item
      a.cons(href='#')
        | INSPECTIONS
    li.link-item
      a.cons(href='#')
        | USERS
    li.link-item
      a.cons(href='#')
        | TEMPLATES
    li.link-item
      a.cons(href='#')
        | DICTIONARY

  //- .col-md-2
  //-   a.cons(href='#')
  //-     | OBJECTS
  //- .col-md-2
  //-   a.cons(href='#')
  //-     | INSPECTIONS
  //- .col-md-2
  //-   a.cons(href='#')
  //-     | USERS
  //- .col-md-2
  //-   a.cons(href='#')
  //-     | TEMPLATES
  //- .col-md-2
  //-   a.cons(href='#')
  //-     | DICTIONARY
