//M14-filter.jade

.float-grid-columns
  #filters
    .top-filters
      .cell-list
        h3.panel-title Панель фильтров
        .cell-list__calendar
            .cell.date
                .first-day
                .last-day
        .cell-list__title
            h3.panel-title.colwhite Инспекции
        .cell-list.f-title
          p Базовые          
            .cell__group 
                ul.list-group.checked-list-box
                    li.list-group-item Технический осмотр
                    li.list-group-item(data-checked='true') Осмотр ходовой
                    li.list-group-item Расширеный осмотр
                    li.list-group-item Осмотр двигателя
                        
      
  
