//M14-filter.jade

.float-grid-columns
  #filters
    .top-filters
      .cell-list
        h3.panel-title Панель фильтров
        .cell-list__calendar
            .cell.date
                .first-day
                .last-day
        .cell-list__title
            h3.panel-title.colwhite Инспекции
        .cell-list.f-title
          p Базовые          
            .cell__group 
                ul.list-group.checked-list-box
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Технический осмотр
                    li.list-group-item(data-checked='true') 
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Осмотр ходовой
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Расширеный осмотр
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Осмотр двигателя
        .cell-list.f-title
          p Тип по времени          
            .cell__group 
                ul.list-group.checked-list-box
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Часовые
                    li.list-group-item(data-checked='true') 
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Дневные
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Недельные
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Месячные
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Назаначенные
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Оперативные
        .cell-list.f-title
          p Состояние выполнения       
            .cell__group 
                ul.list-group.checked-list-box
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Не начатые
                    li.list-group-item(data-checked='true') 
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Активные
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Завершенные
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Отмененные
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Пропущенные
        .cell-list.f-title
          p Качественное состояние     
            .cell__group 
                ul.list-group.checked-list-box
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Не определено
                    li.list-group-item(data-checked='true') 
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Ок
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Внимание 
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Критично
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Не корректно
                    li.list-group-item
                      .ckbox
                          input#checkbox1(type='checkbox')
                          label(for='checkbox1') Без оценки

                    
  
