//M15-filters-object.jade

.float-grid-columns
  .top-filters
    .cell-list
      .cell-list__blutitle
        h3.panel-title.colwhite Объекты
        
    .btn-group
        button.btn.btn-default.select(type='button' placeholder='Введите название') 
        button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
          i.fa.fa-angle-down.fa-lg(aria-hidden='true')

    .cell-list.f-title
      p Базовые          
        .cell__group 
            ul.list-group.checked-list-box
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Технический осмотр
                li.list-group-item(data-checked='true') 
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Осмотр ходовой
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Расширеный осмотр
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Осмотр двигателя
    .cell-list.f-title
      p Тип по времени          
        .cell__group 
            ul.list-group.checked-list-box
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Часовые
                li.list-group-item(data-checked='true') 
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Дневные
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Недельные
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Месячные
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Назаначенные
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Оперативные
    .cell-list.f-title
      p Состояние выполнения       
        .cell__group 
            ul.list-group.checked-list-box
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Не начатые
                li.list-group-item(data-checked='true') 
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Активные
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Завершенные
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Отмененные
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Пропущенные
    .cell-list.f-title
      p Качественное состояние     
        .cell__group 
            ul.list-group.checked-list-box
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Не определено
                li.list-group-item(data-checked='true') 
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Ок
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Внимание 
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Критично
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Не корректно
                li.list-group-item
                  .ckbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1') Без оценки

                
