//-******************************
//-
//-*   M16-inspection-for-object.jade
//-
//-******************************/

#accordion
  .panel.panel-default.list-col
    .panel-heading
      h3.panel-title  Инспекции
      .form-group.pull-right
          i.fa.fa-chevron-down(aria-hidden='true')

  include M18-inspection-for-object
  include M20-statistic
  include M05-tables
