//M16-inspection-for-object.jade
#accordion.panel-group
  .panel.panel-default.list-col
    .panel-heading
      h3.panel-title 
        p.name_colection Инспекции
      .form-group.pull-right
          i.fa.fa-chevron-down(aria-hidden='true')
  include M05-tables
