//-***********************************
//-
//-*   M18-inspection-for-object.jade
//-
//-***********************************/

.inspection-for-object
  .inspection-btn
    p Инспекции по объектам
    .btn-group.btn-group__pull-center.pull-right.text-center.hidden-xs
      button.btn-default.btn-default__transpar(type='button') Сохранить
      button.btn-default.btn-default__save(type='button') Сохранить
      button.btn-default.btn-default__delete(type='button') Удалить
      button.btn-default.btn-default__clean(type='button') Очистить

  #accordion2.panel-group
      .panel.panel-heading.panel-heading__inspect
        h3.panel-title Условия фильтрации
        .btn-group.btn-group__elips.pull-right.clickable(data-toggle='collapse', data-target='#collapse2', data-parent='#accordion2')
          i.fa.fa-chevron-up
        .btn-group.pull-right.filter-btn
          button.btn-default.btn-default__white.select(type='button') Часовые
           i.fa.fa-angle-down.fa-lg(aria-hidden='true')
          button.btn-default.btn-default__save(type='button') Сохранить
          button.btn-default.btn-default__delete(type='button') Удалить
          button.btn-default.btn-default__clean(type='button') Очистить
      #collapse2.panel-body.collapse.in
          table.table-filter
            th 
              p.color-green Инспекции
            tr
              td.text-title Период:
              td.text-content 
                input(type='text', placeholder='Введите период')
            tr
              td.text-title Тип по времени:
              td.text-content 
                input(type='text', placeholder='Тип по времени')
            tr
              td.text-title Состояние выполнения:
              td.text-content 
                input(type='text', placeholder='Состояние выполнения')

          table.table-filter
            th
              p.color-blue Объекты
            tr
              td.text-title Категория:
              td.text-content  
                input(type='text', placeholder='Категория')
            tr
              td.text-title Класс
              td.text-content 
                input(type='text', placeholder='Класс')
