//-***********************************
//-
//-*   M18-inspection-for-object.jade
//-
//-***********************************/

.inspection-for-object
  .inspection-btn
    p Инспекции по объектам
    .btn-group.btn-group__pull-center
      button.btn-default.btn-default__transpar(type='button') Сохранить
      button.btn-default.btn-default__save(type='button') Сохранить
      button.btn-default.btn-default__delete(type='button') Удалить
      button.btn-default.btn-default__clean(type='button') Очистить
  #accordion
    .panel-group
      .panel.panel-heading.panel-heading__inspect
        h3.panel-title Условия фильтрации
        span.pull-right.clickable
          i.fa.fa-chevron-down(aria-hidden='true')
          
        .btn-group.pull-right
          button.btn.btn-default.btn-default__white.select(type='button') Часовые
          button.btn.btn-default.btn-default__white.dropdown-toggle(data-toggle='dropdown', type='button')
            i.fa.fa-angle-down.fa-lg(aria-hidden='true')        
          button.btn-save(type='button') Сохранить
          button.btn-delete(type='button') Удалить
          button.btn-clean(type='button') Очистить
      .panel-body
          table.table-responsiv
            th Инспекции
            tr
              td Период:
              td 
                input(type='text', placeholder='Введите период')
            tr
              td Тип по времени:
              td
            tr
              td Состояние выполнения:
              td
              
          table.table-responsiv
            th Объекты
            tr
              td Категория:
              td 
                
            tr
              td Класс
              td
            tr
              td 
              td 
