//-***********************************
//-
//-*   M18-inspection-for-object.jade
//-
//-***********************************/

.inspection-for-object
  .inspection-btn
    p Инспекции по объектам
    .btn-group.btn-group__pull-center.pull-right.text-center
      button.btn-default.btn-default__transpar(type='button') Сохранить
      button.btn-default.btn-default__save(type='button') Сохранить
      button.btn-default.btn-default__delete(type='button') Удалить
      button.btn-default.btn-default__clean(type='button') Очистить
  #accordion
    .panel-group
      .panel.panel-heading.panel-heading__inspect
        h3.panel-title Условия фильтрации
        span.pull-right.clickable
          i.fa.fa-chevron-down(aria-hidden='true')
          
        .btn-group.pull-right.filter-btn
          button.btn-default.btn-default__white.select(type='button') Часовые
           i.fa.fa-angle-down.fa-lg(aria-hidden='true')
          button.btn-default.btn-default__save(type='button') Сохранить
          button.btn-default.btn-default__delete(type='button') Удалить
          button.btn-default.btn-default__clean(type='button') Очистить
      .panel-body
          table.table-responsiv
            th 
              p.color-green Инспекции
            tr
              td Период:
              td 
                input(type='text', placeholder='Введите период')
            tr
              td Тип по времени:
              td 
                input(type='text', placeholder='Введите период')
            tr
              td Состояние выполнения:
              td
                input(type='text', placeholder='Введите период')
              
          table.table-responsiv
            th
              p.color-blue Объекты
            tr
              td Категория:
              td 
                input(type='text', placeholder='Введите период')
            tr
              td Класс
              td
                input(type='text', placeholder='Введите период')
