//-******************************
//-
//-*   M19-structure-object.jade
//-
//-******************************/

.structure-object
  .btn-group
    button.btn-default(type='button') OBJECTS
    button.btn-default(type='button') STRUCTURE
    button.btn-default(type='button') OBJECT MODEL
