//-******************************
//-
//-*   M19-structure-object.jade
//-
//-******************************/

//- #catalog
//-     .catalog_page-nav
//-         ul.nav.nav-pills.nav-justified.catalog_items
//-             li.catalog_item
//-                 a.active(href='#') Objects
//-             li.catalog_item
//-                 a(href='#') Structure
//-             li.catalog_item
//-                 a(href='#') Object Model
