//-******************************
//-
//-*   M20-statistic
//-
//-******************************/
#accordion.panel-group
  .panel.panel-default.list-col
    .panel-heading
      h3.panel-title Статистика
      btn.btn-link.pull-right.clickable
        i.fa.fa-chevron-down(aria-hidden='true')
    .panel-body
      include M09-panel-primary
      include M09a-success
      include M10-panel-info
