//-******************************
//-
//-*   M20-statistic
//-
//-******************************/

#accordion3.panel-group
  .panel.panel-heading.panel-heading__inspect(data-toggle='collapse', data-target='#collapse3', data-parent='#accordion3')
      h3.panel-title Статистика
      btn.btn-link.pull-right.clickable
        i.fa.fa-chevron-up(aria-hidden='true', type='text', data-toggle='tooltip', data-placement='top', title='hide')
    #collapse3.panel-body.collapse.in
      include M09-panel-primary
      include M08-panel-success
      include M10-panel-info
