//-******************************
//-
//-*   M20-statistic
//-
//-******************************/

#accordion
  .panel-group
    .panel.panel-heading.panel-heading__inspect
        h3.panel-title Статистика
        .form-group.pull-right
          btn.btn-link
            i.fa.fa-chevron-down(aria-hidden='true')
      .panel-body
        include M09-panel-primary
        include M08-panel-success
        include M10-panel-info
