//-******************************
//-
//-*   M22-catalog.jade
//-
//-******************************/

#catalog
  .catalog_page-nav
    ul.catalog_items
      li.catalog_item
        a.active(href='#') Objects
      li.catalog_item
        a(href='#') Structure
      li.catalog_item
        a(href='#') Object Model
  .catalog_title Objects
  #accordion
    .panel-group
      .panel.panel-heading.panel-heading__inspect.clearfix
        .btn-group
            

        ul.catalog_buttons-checkbox.pull-right
          li
            input#ok(type='checkbox')
            label(for='ok') Ок
          li
            input#attention(type='checkbox')
            label(for='attention') Внимание
          li
            input#critically(type='checkbox')
            label(for='critically') Критично
          li
            input#uncorrect(type='checkbox')
            label(for='uncorrect') Не корректно
          li
            input#unvalued(type='checkbox')
            label(for='unvalued') Без оценки
  .catalog_product.flex-block.flex-wrapp.clearfix
    .catalog.catalog-box
      .catalog__promo
        .cell.image-cell
          img(src='../../images/img1.jpg')
        .cell.info-cell
          .info-text.text-rigth
              a(href="") Resours
              span 3502/1000km
              .catalog_object-type Ультрабук <em>•</em>  2-в-1 со съемным экраном <em>•</em>  10,1" 
              <em>•</em> IPS <em>•</em> 1920х1200 
              <em>•</em> Intel Atom x5-Z8350 
              <em>•</em>  1,44-1,92 ГГц 
              <em>•</em>  ОЗУ: 4 ГБ 
              <em>•</em> Intel HD Graphics 
              <em>•</em>  SSD: 64 ГБ 
              <em>•</em>  планшет: 0,55, планшет с клавиатурой 1,02 кг 
              <em>•</em>  ОС: Windows 10 Pro 64-bit 
              <em>•</em>  цвет: серебристый 
              <em>•</em> <span>05.2017</span>&nbsp;

              //p.catalog_object-description
          .cell.text-title 
            a(href="") Object One (ID/ 500)
        .cell.price-box
          .price-sum.inl-bot
            
