//-******************************
//-
//-*   M22-catalog.jade
//-
//-******************************/

#catalog
    .catalog_page-nav
        ul.catalog_items
            li.catalog_item
                a.active(href='#') Objects
            li.catalog_item
                a(href='#') Structure
            li.catalog_item
                a(href='#') Object Model
    .catalog_title
      p Objects
    #accordion
        .panel-group
            .panel.panel-heading.panel-heading__inspect.clearfix
                ul.btn-group
                    li
                        a#drop1.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
                            |Sorted by: date
                            b.caret
                        ul.dropdown-select(role='menu', aria-labelledby='drop1')
                            li(role='presentation')
                                a(href='#', role='menuitem') date
                            li(role='presentation')
                                a(href='#', role='menuitem') date
                            li(role='presentation')
                                a(href='#', role='menuitem') date
                            li(role='presentation')
                                a(href='#', role='menuitem') date
                    li
                        a#drop2.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
                            | First: Critical
                            b.caret
                        ul.dropdown-select(role='menu', aria-labelledby='drop1')
                            li(role='presentation')
                                a(href='#', role='menuitem') Critical
                            li(role='presentation')
                                a(href='#', role='menuitem') Critical
                            li(role='presentation')
                                a(href='#', role='menuitem') Critical
                            li(role='presentation')
                                a(href='#', role='menuitem') Critical

                ul.catalog_buttons-checkbox.pull-right
                    li
                        input#ok1(type='checkbox')
                        label(for='ok1') Ок
                    li
                        input#attention1(type='checkbox')
                        label(for='attention1') Внимание
                    li
                        input#critically1(type='checkbox')
                        label(for='critically1') Критично
                    li
                        input#uncorrect1(type='checkbox')
                        label(for='uncorrect1') Не корректно
                    li
                        input#unvalued1(type='checkbox')
                        label(for='unvalued1') Без оценки

    .catalog_product.flex-block.flex-wrapp.clearfix
        .catalog.catalog-box
            .catalog__promo
                .cell.image-cell
                    img(src='css/images/img1.jpg')
                .cell.info-cell
                    .cell.text-title
                        a(href="") Object One (ID/ 500)
                    .cell.catalog_object-type Ультрабук <em>•</em>  2-в-1 со съемным экраном <em>•</em>  10,1"
                        <em>•</em> IPS <em>•</em> 1920х1200
                        <em>•</em> Intel Atom x5-Z8350
                        <em>•</em>  1,44-1,92 ГГц
                        <em>•</em>  ОЗУ: 4 ГБ
                        <em>•</em> Intel HD Graphics
                        <em>•</em>  SSD: 64 ГБ
                        <em>•</em>  планшет: 0,55, планшет с клавиатурой 1,02 кг
                        <em>•</em>  ОС: Windows 10 Pro 64-bit
                        <em>•</em>  цвет: серебристый
                        <em>•</em> <span>05.2017</span>&nbsp;
                    .cell.description-cell
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .cell.price-box
                  .info-resourse
                    span Resourse:
                    span 3502/1000km
                  .btn-group
                    button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                        i.fa.fa-chevron-down
                    button.btn(type='button')
                        | Не определено
                        i.fa.fa-check-circle(aria-hidden='true')
                    ul.dropdown-menu
                        li
                            a(href='#')
                                | Ок
                                i.fa.fa-check-circle(aria-hidden='true')
                        li
                            a(href='#')
                                | Внимание
                                i.fa.fa-check-circle(aria-hidden='true')
                        li
                            a(href='#')
                                | Критично
                                i.fa.fa-check-circle(aria-hidden='true')
                        li
                            a(href='#')
                                | Не корректно
                                i.fa.fa-check-circle(aria-hidden='true')
                        li
                            a(href='#')
                                | Без оценки
                                i.fa.fa-check-circle(aria-hidden='true')
        .catalog.catalog-box
            .catalog__promo
                .cell.image-cell
                    img(src='css/images/img1.jpg')
                .cell.info-cell
                    .cell.text-title
                        a(href="") Object One (ID/ 500)
                    .cell.catalog_object-type Ультрабук <em>•</em>  2-в-1 со съемным экраном <em>•</em>  10,1"
                        <em>•</em> IPS <em>•</em> 1920х1200
                        <em>•</em> Intel Atom x5-Z8350
                        <em>•</em>  1,44-1,92 ГГц
                        <em>•</em>  ОЗУ: 4 ГБ
                        <em>•</em> Intel HD Graphics
                        <em>•</em>  SSD: 64 ГБ
                        <em>•</em>  планшет: 0,55, планшет с клавиатурой 1,02 кг
                        <em>•</em>  ОС: Windows 10 Pro 64-bit
                        <em>•</em>  цвет: серебристый
                        <em>•</em> <span>05.2017</span>&nbsp;
                    .cell.description-cell
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .cell.price-box
                    .info-resourse
                        span Resourse:
                        span 3502/1000km
                    .btn-group
                        button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                            i.fa.fa-chevron-down
                        button.btn(type='button')
                            | Не определено
                            i.fa.fa-check-circle(aria-hidden='true')
                        ul.dropdown-menu
                            li
                                a(href='#')
                                    | Ок
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Внимание
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Критично
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Не корректно
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Без оценки
                                    i.fa.fa-check-circle(aria-hidden='true')
        .catalog.catalog-box
            .catalog__promo
                .cell.image-cell
                    img(src='css/images/img1.jpg')
                .cell.info-cell
                    .cell.text-title
                        a(href="") Object One (ID/ 500)
                    .cell.catalog_object-type Ультрабук <em>•</em>  2-в-1 со съемным экраном <em>•</em>  10,1"
                        <em>•</em> IPS <em>•</em> 1920х1200
                        <em>•</em> Intel Atom x5-Z8350
                        <em>•</em>  1,44-1,92 ГГц
                        <em>•</em>  ОЗУ: 4 ГБ
                        <em>•</em> Intel HD Graphics
                        <em>•</em>  SSD: 64 ГБ
                        <em>•</em>  планшет: 0,55, планшет с клавиатурой 1,02 кг
                        <em>•</em>  ОС: Windows 10 Pro 64-bit
                        <em>•</em>  цвет: серебристый
                        <em>•</em> <span>05.2017</span>&nbsp;
                    .cell.description-cell
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .cell.price-box
                    .info-resourse
                        span Resourse:
                        span 3502/1000km
                    .btn-group
                        button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                            i.fa.fa-chevron-down
                        button.btn(type='button')
                            | Не определено
                            i.fa.fa-check-circle(aria-hidden='true')
                        ul.dropdown-menu
                            li
                                a(href='#')
                                    | Ок
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Внимание
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Критично
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Не корректно
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Без оценки
                                    i.fa.fa-check-circle(aria-hidden='true')

        .catalog.catalog-box
            .catalog__promo
                .cell.image-cell
                    img(src='css/images/img1.jpg')
                .cell.info-cell
                    .cell.text-title
                        a(href="") Object One (ID/ 500)
                    .cell.catalog_object-type Ультрабук <em>•</em>  2-в-1 со съемным экраном <em>•</em>  10,1"
                        <em>•</em> IPS <em>•</em> 1920х1200
                        <em>•</em> Intel Atom x5-Z8350
                        <em>•</em>  1,44-1,92 ГГц
                        <em>•</em>  ОЗУ: 4 ГБ
                        <em>•</em> Intel HD Graphics
                        <em>•</em>  SSD: 64 ГБ
                        <em>•</em>  планшет: 0,55, планшет с клавиатурой 1,02 кг
                        <em>•</em>  ОС: Windows 10 Pro 64-bit
                        <em>•</em>  цвет: серебристый
                        <em>•</em> <span>05.2017</span>&nbsp;
                    .cell.description-cell
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .cell.price-box
                    .info-resourse
                        span Resourse:
                        span 3502/1000km
                    .btn-group
                        button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                            i.fa.fa-chevron-down
                        button.btn(type='button')
                            | Не определено
                            i.fa.fa-check-circle(aria-hidden='true')
                        ul.dropdown-menu
                            li
                                a(href='#')
                                    | Ок
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Внимание
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Критично
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Не корректно
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Без оценки
                                    i.fa.fa-check-circle(aria-hidden='true')

        .catalog.catalog-box
            .catalog__promo
                .cell.image-cell
                    img(src='css/images/img1.jpg')
                .cell.info-cell
                    .cell.text-title
                        a(href="") Object One (ID/ 500)
                    .cell.catalog_object-type Ультрабук <em>•</em>  2-в-1 со съемным экраном <em>•</em>  10,1"
                        <em>•</em> IPS <em>•</em> 1920х1200
                        <em>•</em> Intel Atom x5-Z8350
                        <em>•</em>  1,44-1,92 ГГц
                        <em>•</em>  ОЗУ: 4 ГБ
                        <em>•</em> Intel HD Graphics
                        <em>•</em>  SSD: 64 ГБ
                        <em>•</em>  планшет: 0,55, планшет с клавиатурой 1,02 кг
                        <em>•</em>  ОС: Windows 10 Pro 64-bit
                        <em>•</em>  цвет: серебристый
                        <em>•</em> <span>05.2017</span>&nbsp;
                    .cell.description-cell
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .cell.price-box
                    .info-resourse
                        span Resourse:
                        span 3502/1000km
                    .btn-group
                        button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                            i.fa.fa-chevron-down
                        button.btn(type='button')
                            | Не определено
                            i.fa.fa-check-circle(aria-hidden='true')
                        ul.dropdown-menu
                            li
                                a(href='#')
                                    | Ок
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Внимание
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Критично
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Не корректно
                                    i.fa.fa-check-circle(aria-hidden='true')
                            li
                                a(href='#')
                                    | Без оценки
                                    i.fa.fa-check-circle(aria-hidden='true')
