//-******************************
//-
//-*   M23-object-list.jade
//-
//-******************************/
.row
  .col-sm-8
    .form-horizontal.payment-form
      .form-group.form-group-object
        label.col-sm-3.control-label(for='concept') Concept
        .col-sm-9
          input#concept.form-control(type='text', name='concept')
      .form-group.form-group-object
        label.col-sm-3.control-label(for='name') Name 
        .col-sm-9
          input#name.form-control(type='text', name='')
      .form-group.form-group-object
        label.col-sm-3.control-label(for='description') Description
        .col-sm-9
          textarea#description.form-control(type='textarea', maxlength='140', rows='7')
      .form-group.form-group-object
        label.col-sm-3.control-label(for='name') From 
        .col-sm-9
          input#name.form-control(type='text', name='')
      .form-group.form-group-object
        label.col-sm-3.control-label.to-appruve(for='name') Location 
        .col-sm-9
          input#name.form-control(type='text', name='')
      .form-group.form-group-object
        label.col-sm-3.control-label(for='resourse') Resourse
        .col-sm-9
          select#resourse.form-control(name='resourse')
            option(value='resourse') Chouse from the list type of resourse
  .col-sm-4
    .info-block
      .img-box
        .blog-img
          img(src='css/images/img1.jpg')
      .group-buttons
        a.btn.btn-outline(href='#') delete
        a.btn.btn-color(href='#') upload
    .info-block
      .group-buttons
        a.btn.btn-color.btn-color-big(href="#") upload document
        
  .row
    .col-xs-12
      include M24-table
