.panel-group
  .panel.panel-heading
    h3.panel-title Groups Class Types
  .panel-body
    table.table-bordered.text-center
      thead
        tr
          th ГР / КЛ / ТИП
          th Название
          th Значение
      tbody
        tr
          td Группа
          td Город
          td Киев
        tr
          td Группа
          td Улица
          td Гончара
        tr
          td Группа
          td Дом
          td 2
        tr
          td Класс
          td Область
          td Недвижимость
        tr
          td Тип
          td Тип строения
          td Нежилой фонд
