//- ------------------------------------------
//-
//-     M24-table.jade
//-
//- ------------------------------------------

.panel-group
  .panel.panel-heading.panel-heading__inspect
    h3.panel-title Groups Class Types
  .panel-body
    table.table-bordered.text-center
      thead
        tr
          th.text-center ГР / КЛ / ТИП
          th.text-center Название
          th.text-center Значение
      tbody
        tr
          td Группа
          td Город
          td Киев
        tr
          td Группа
          td Улица
          td Гончара
        tr
          td Группа
          td Дом
          td 2
        tr
          td Класс
          td Область
          td Недвижимость
        tr
          td Тип
          td Тип строения
          td Нежилой фонд
