//- ------------------------------------------
//-
//-     M24-table.jade
//-
//- ------------------------------------------
.object-list-table
  .panel-group.clearfix
    .panel.panel-heading.panel-heading__main
      h3.panel-title.colwhite Groups Class Types
    .panel-body
      table.table-responsive.text-center
        thead
          tr
            th.text-center ГР / КЛ / ТИП
            th.text-center Название
            th.text-center Значение
        tbody
          tr
            td Группа
            td Город
            td Киев
          tr
            td Группа
            td Улица
            td Гончара
          tr
            td Группа
            td Дом
            td 2
          tr
            td Класс
            td Область
            td Недвижимость
          tr
            td Тип
            td Тип строения
            td Нежилой фонд
            
    .group-buttons.group-buttons__object.text-right
      a.btn.btn-outline__object(href='#') cancel
      a.btn.btn-color__object(href='#') save
