//- Global variables
- var jv0 = 'javascript:void(0);';
- var page = {};
- var submited = false;
- var startingSlash = '';

- var capitalize = function(string) { return string.charAt(0).toUpperCase() + string.slice(1) }
- var transClass = function(s) { return capitalize(s.replace(/-/g,' ')) }

- var red = '#c30000';
- var green = '#197b30';
- var grey6 = '#707070';