/*!******************************

  Common styles

********************************/
$table-cells-spacing = 6px
$table-cells-spacing-big = 30px

html
body
  min-width 320px
  font-size 12px

.wrapper
  max-width 1020px
  margin 0 auto

.btn
  background-image none // remove default bootstrap button-arr.svg styling
h1, h2, h3, h4, h5, h6, label
  font-weight normal !important //remove default bootstrap font-weight
label
  font-family ttm-regular
input:focus, textarea:focus // remove default bootstrap input outlines
  outline 0 !important
  box-shadow none !important

.col-right
  float right
.col-left
  float left

ul
  list-style none
  border none

.not-padd
  padding 0
