/*!******************************

  font awesome icon styles

********************************/

.fa-calendar-o
    &:before
        color #26a9e0 !important
.fa-calendar-plus-o
    &:before
        color #37b34a !important
.fa-calendar-check-o
    &:before
        color #bbbdbf !important
.fa-calendar-times-o
    &:before
        color #be1e2d !important
.fa-calendar-minus-o
    &:before
        color #ee5928 !important

.fa-clock-o
    &:before
        color #1b75bb !important
.fa-check-circle-o
    &:before
        color #37b34a !important
.fa-question-circle-o
    &:before
        color #90278e !important
.fa-times-circle-o
    &:before
        color #f05a28 !important
.fa-exclamation-circle
    &:before
        color #ff9100 !important
.fa-ban
    &:before
        color #26a9e0 !important
