/*!******************************

  Fonts

********************************/

@font-face {
  font-family: '';
  src: url('fonts/cuprum/Cuprum-Bold.ttf');
  src: url('fonts/cuprum/Cuprum-Bold.eot?#iefix') format('embedded-opentype'),
          url('fonts/cuprum/Cuprum-Bold.ttf') format('truetype'),
          url('fonts/cuprum/Cuprum-Bold.ttf') format('truetype'),
          url('fonts/cuprum/Cuprum-Bold.woff') format("woff")
          url('fonts/cuprum/Cuprum-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '';
  src: url('fonts/cuprum/Cuprum-BoldItalic.ttf');
  src: url('fonts/cuprum/Cuprum-BoldItalic.eot?#iefix') format('embedded-opentype'),
          url('fonts/cuprum/Cuprum-BoldItalic.ttf') format('truetype'),
          url('fonts/cuprum/Cuprum-BoldItalic.ttf') format('truetype'),
          url('fonts/cuprum/Cuprum-BoldItalic.woff') format("woff")
          url('fonts/cuprum/Cuprum-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '';
  src: url('fonts/cuprum/Cuprum-Italic.ttf');
  src: url('fonts/cuprum/Cuprum-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/cuprum/Cuprum-Italic.ttf') format('truetype'),
          url('fonts/cuprum/Cuprum-Italic.ttf') format('truetype'),
          url('fonts/cuprum/Cuprum-Italic.woff') format("woff")
          url('fonts/cuprum/Cuprum-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '';
  src: url('fonts/cuprum/Cuprum-Regular.ttf');
  src: url('fonts/cuprum/Cuprum-Regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/cuprum/Cuprum-Regular.ttf') format('truetype'),
          url('fonts/cuprum/Cuprum-Regular.ttf') format('truetype'),
          url('fonts/cuprum/Cuprum-Regular.woff') format("woff")
          url('fonts/cuprum/Cuprum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// $helveticaneue = Roboto-Regular, Roboto-Light, Roboto-Bold, Roboto-Semibold
// for $font in $helveticaneue
//   font-face( $font, "fonts/roboto/" + $font, normal, formats: woff otf eot )
//
// Font($fontSize=false,$lineHeight=false,$letterSpacing=false)
//   if($fontSize != false)
//     font-size $fontSize
//   if($lineHeight != false)
//     line-height $lineHeight
//   if($letterSpacing != false)
//     letter-spacing $letterSpacing
//
// openSansregular($fontSize=false,$lineHeight=false,$letterSpacing=false)
//   font-family: 'Roboto-Regular', Arial, sans-serif
//   Font($fontSize,$lineHeight,$letterSpacing)
//
// opensanslight($fontSize=false,$lineHeight=false,$letterSpacing=false)
//   font-family: 'Roboto-Light', Arial, sans-serif
//   Font($fontSize,$lineHeight,$letterSpacing)
//
// opensansbold($fontSize=false,$lineHeight=false,$letterSpacing=false)
//   font-family: 'Roboto-Bold', Arial, sans-serif
//   Font($fontSize,$lineHeight,$letterSpacing)
//
// opensanssemibold($fontSize=false,$lineHeight=false,$letterSpacing=false)
//   font-family: 'Roboto-Semibold', Arial, sans-serif
//   Font($fontSize,$lineHeight,$letterSpacing)
