/*!******************************

  Fonts

********************************/

/*
$helveticaneue = helveticaneuecyr-thin, helveticaneuecyr-light
for $font in $helveticaneue
  font-face( $font, "fonts/helveticaneue/" + $font, normal, formats: woff otf eot )

Font($fontSize=false,$lineHeight=false,$letterSpacing=false)
  if($fontSize != false)
    font-size $fontSize
  if($lineHeight != false)
    line-height $lineHeight
  if($letterSpacing != false)
    letter-spacing $letterSpacing

Helveticaneuecyrthin($fontSize=false,$lineHeight=false,$letterSpacing=false)
  font-family: 'helveticaneuecyr-thin', Arial, sans-serif
  Font($fontSize,$lineHeight,$letterSpacing)

Helveticaneuecyrlight($fontSize=false,$lineHeight=false,$letterSpacing=false)
  font-family: 'helveticaneuecyr-thin', Arial, sans-serif
  Font($fontSize,$lineHeight,$letterSpacing)
*/

// @font-face
//   font-family 'robotothin'
//   src url('fonts/roboto/Roboto-Thin.eot')
//   src url('fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Thin.woff') format('woff'), url('fonts/roboto/Roboto-Thin.ttf') format('truetype'), url('fonts/roboto/Roboto-Thin.svg#robotothin') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'robotothin_italic'
//   src url('fonts/roboto/Roboto-ThinItalic.eot')
//   src url('fonts/roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-ThinItalic.woff') format('woff'), url('fonts/roboto/Roboto-ThinItalic.ttf') format('truetype'), url('fonts/roboto/Roboto-ThinItalic.svg#robotothin_italic') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'robotolight'
//   src url('fonts/roboto/Roboto-Light.eot')
//   src url('fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Light.woff') format('woff'), url('fonts/roboto/Roboto-Light.ttf') format('truetype'), url('fonts/roboto/Roboto-Light.svg#robotolight') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'robotolight_italic'
//   src url('fonts/roboto/Roboto-LightItalic.eot')
//   src url('fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-LightItalic.woff') format('woff'), url('fonts/roboto/Roboto-LightItalic.ttf') format('truetype'), url('fonts/roboto/Roboto-LightItalic.svg#robotolight_italic') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'robotoregular'
//   src url('fonts/roboto/Roboto-Regular.eot')
//   src url('fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Regular.woff') format('woff'), url('fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('fonts/roboto/Roboto-Regular.svg#robotoregular') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'robotoitalic'
//   src url('fonts/roboto/Roboto-Italic.eot')
//   src url('fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Italic.woff') format('woff'), url('fonts/roboto/Roboto-Italic.ttf') format('truetype'), url('fonts/roboto/Roboto-Italic.svg#robotoitalic') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'robotomedium'
//   src url('fonts/roboto/Roboto-Medium.eot')
//   src url('fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Medium.woff') format('woff'), url('fonts/roboto/Roboto-Medium.ttf') format('truetype'), url('fonts/roboto/Roboto-Medium.svg#robotomedium') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'robotomedium_italic'
//   src url('fonts/roboto/Roboto-MediumItalic.eot')
//   src url('fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-MediumItalic.woff') format('woff'), url('fonts/roboto/Roboto-MediumItalic.ttf') format('truetype'), url('fonts/roboto/Roboto-MediumItalic.svg#robotomedium_italic') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'robotobold'
//   src url('fonts/roboto/Roboto-Bold.eot')
//   src url('fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Bold.woff') format('woff'), url('fonts/roboto/Roboto-Bold.ttf') format('truetype'), url('fonts/roboto/Roboto-Bold.svg#robotobold') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'robotobold_italic'
//   src url('fonts/roboto/Roboto-BoldItalic.eot')
//   src url('fonts/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-BoldItalic.woff') format('woff'), url('fonts/roboto/Roboto-BoldItalic.ttf') format('truetype'), url('fonts/roboto/Roboto-BoldItalic.svg#robotobold_italic') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'robotoblack'
//   src url('fonts/roboto/Roboto-Black.eot')
//   src url('fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Black.woff') format('woff'), url('fonts/roboto/Roboto-Black.ttf') format('truetype'), url('fonts/roboto/Roboto-Black.svg#robotoblack') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'robotoblack_italic'
//   src url('fonts/roboto/Roboto-BlackItalic.eot')
//   src url('fonts/roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-BlackItalic.woff') format('woff'), url('fonts/roboto/Roboto-BlackItalic.ttf') format('truetype'), url('fonts/roboto/Roboto-BlackItalic.svg#robotoblack_italic') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'roboto_condensed'
//   src url('fonts/roboto/RobotoCondensed-Regular.eot')
//   src url('fonts/roboto/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/RobotoCondensed-Regular.woff') format('woff'), url('fonts/roboto/RobotoCondensed-Regular.ttf') format('truetype'), url('fonts/roboto/RobotoCondensed-Regular.svg#roboto_condensedregular') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'roboto_condenseditalic'
//   src url('fonts/roboto/RobotoCondensed-Italic.eot')
//   src url('fonts/roboto/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/RobotoCondensed-Italic.woff') format('woff'), url('fonts/roboto/RobotoCondensed-Italic.ttf') format('truetype'), url('fonts/roboto/RobotoCondensed-Italic.svg#roboto_condenseditalic') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'roboto_condensedlight'
//   src url('fonts/roboto/RobotoCondensed-Light.eot')
//   src url('fonts/roboto/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/RobotoCondensed-Light.woff') format('woff'), url('fonts/roboto/RobotoCondensed-Light.ttf') format('truetype'), url('fonts/roboto/RobotoCondensed-Light.svg#roboto_condensedlight') format('svg')
//   font-weight normal
//   font-style normal
//
// @font-face
//   font-family 'roboto_condensedlight_italic'
//   src url('fonts/roboto/RobotoCondensed-LightItalic.eot')
//   src url('fonts/roboto/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/RobotoCondensed-LightItalic.woff') format('woff'), url('fonts/roboto/RobotoCondensed-LightItalic.ttf') format('truetype'), url('fonts/roboto/RobotoCondensed-LightItalic.svg#roboto_condensedlight_italic') format('svg')
//   font-weight normal
//   font-style normal
