/*** System ***/
$grid-debug = false

/*** Colors ***/

$white = #fff
$black = #000

/*** RED ***/
$marsala = #A64034
$light-marsala = #CB998C
$dark-marsala = #8E2E23
$red = #c6311b

/*** GREEN ***/
$dark-teal = #00695A
$extra-dark-teal = #00594C
$light-teal = #56BAAD
$light-teal-l = #36c18e

/*** BLUE ***/
$cobalt = #1B3E67
$blue = #3192D0
$light-blue = #A3C5E9
$blue-navy = #f8f9fb

/*** GREY ***/
$charcoal = #3C3C3C
$dark-grey = #646569
$grey = #BBBBBB
$light-grey = #CBCBCB
$background-grey = #F5F5F5
$text-grey = #4d4d4d
$auto-grey = #919191


$mobile-bg = #fffaf8
/*** Brand Colors ***/
//$b-grey = #e2e2e2

//brand colors


/*** Paths ***/
$imgDir = "images/"

/*** Sizes ***/
$mainPull = 42px
$smallPull = 18px
$header-size = 46px

// nav size
$navbar-w = 320px
// nav size in collapsed mode
$navbar-w-m = 56px

/*** Other ***/
$transitionSpeed = .5s
$transitionSpeed_fast = .25s

/*** Responsive breakpoints ***/
$mqLarge = 1700px
$mqDesktop = 1440px //1020px
$mqTablet = 1024px //989px
$mqPhone = 750px
$mqTiny = 560px
$mqLaptop = 1200px

/***  Icons ***/



