/*!******************************
 *
 *   M01- home.styl
 *
 ******************************/

body#homepage
  background #ffff
  // .wrapper
  //   max-width 980px
  //   margin 0 auto
  .container-fluid
    width 100%
    padding-left 0
    padding-right 0
  #login
    width 600px
    margin 0 auto
