.login-register-form-section
  max-width 350px
  margin 0 auto
  i
    width 10px
  .nav-tabs
    padding-bottom 10px
    margin-bottom 10px
    padding-bottom 10px
    margin-bottom 10px
    & > li
      & > a
        color #2abb9b
      &.active
        & > a
          background-color #2abb9b
          border-color #2abb9b
          color white
  .form-group
    padding 0 20px
    padding 0 20px
  .btn-custom
    width 100%
    background-color #2abb9b
    border-color #2abb9b
    margin-bottom 0.5em
    border-radius 0
    &:hover
      width 100%
      background-color #48A497
      border-color #2abb9b

.login-register-form-section .nav-tabs > li > a,
.login-register-form-section .nav-tabs > li.active > a
  width 160px
  text-align center
  border-radius 0
