/******************************
*
*   M01- login.styl
*
******************************/
.header-top
  .header-logo
    width 198px
  .header-top-phone
    margin-top 10px
    margin-right 24px
    margin-left 35px
    font-size 20px
  .header-top-envelope
    margin-top 10px
    font-size 20px
  .header-top-card
    width 40px
    height 40px
    margin-right 10px
  .header-top-setting
    margin-top 10px
.header-bottom
  .navbar-default
    border none
    background-color transparent
    .navbar-header
      .navbar-toggle
        padding-right: 9px;
        padding-left: 9px;
        padding-top: 10px;
        padding-bottom: 12px;
        span
          margin-bottom 0px
          &:nth-of-type(2)
            margin-top 6px
            margin-bottom 6px
    .navbar-collapse
      padding-left 0px
      .navbar-nav
        .dropdown
          min-width 198px
          border-radius 4px
          border 1px solid #404041
          margin-top -1px
          padding 0
          .dropdown-toggle
            padding 6px 18px
            font-size 18px
            .icon
              display inline-block
              position absolute
              right 5%
              color #1b75bb
          .dropdown-menu
            width 100%
            li
              padding 0
              a
                color #222
                font-size 14px
                padding 0 5px
        .active
          > a
            background-color transparent
            color #26a9e0
      .link-box
        margin-left 10px
        padding 10px 25px 0px
        li
          margin-right 8em
          &:last-child
            margin-right 0px
          a
            padding 0
            font-size 25px
            text-decoration none
            &:hover
              color #26a9e0

@media screen and (max-width:$mqDesktop) and (min-width:$mqTablet)
  .header-bottom
    .navbar-default
      .link-box
        li
          margin-right 4em

@media screen and (max-width:$mqTablet) and (min-width:$mqPhone)
  .header-bottom
    .navbar-default
      .link-box
        li
          margin-right 1em
          a
            font-size 21px

@media screen and (min-width:$mqPhone)
  .header-bottom
    .navbar-default
      .navbar-header
        .navbar-toggle
          display none

@media screen and (max-width:$mqPhone)
  .header-bottom
    .navbar-default
      margin-bottom 0px
      .link-box
        text-align center
        li
          margin-right 0
          a
            padding-bottom 10px
 @media screen and (max-width:$mqTiny)
  .header-top
    .header-logo
      width 147px
    .header-top-phone
      margin-right 8px
      margin-left 8px

/*
ul, ol
  margin 0
  padding 0
.nav
  width 100%
.navbar
  margin-bottom 0
  margin-bottom 0
.navbar-default
  background-color #fff
  border none

  .navbar-header
    vertical-align middle
    float left
.navbar-nav > li > a
  padding 6px 18px
  &:hover
    background-color #fff

.dropdown,
.dropdown-menu
  min-width 180px
  border-radius 4px
  border 1px solid #404041
  margin-top -1px
  padding 0
  a
    font-size 18px
    color #222
  .icon
    display inline-block
    position absolute
    right 5%
    color #1b75bb
.dropdown-menu
  li
    padding 0
    a
      color #222
      font-size 14px
      padding 0 5px

.input-group-btn
  > .btn-group
    display flex !important
    .btn
      border-radius 3px
      border 1px solid #707071s
      &:last-child
        border-top-right-radius 4px
        border-bottom-right-radius 4px
    .form-horizontal
      .btn[type="submit"]
        border-top-left-radius 4px
        border-bottom-left-radius 4px
        padding 0
        margin 0


.form-horizontal
  &.form-group
   margin-left 0
   margin-right 0
.user-block
  .card
    width 40px
    height 40px
    display inline-block
    border 1px solid #4c4c4d
    border-radius 4px
    background-image url('images/img1.jpg')
    background-size cover
  .card-seting
    display inline-block
    vertical-align middle
    padding-left 10px
    font-size 15px

img
  &.img-responsive
    width 60px
    height 60px
    display inline-block
    box-sizing border-box
.link-item
  display inline-block
  font-size 30px
  letter-spacing 3px
  a
    text-decoration none
    font-weight bold
    margin-left 8px
    &:hover
      background-color none
      color #26a9e0
  &:first-child
    margin-left 35px
.form-group
  &.form-group-object
    font-size 18px
    label
      text-align left
    input
      max-width 670px
  &:hover
    background-color none
  //&:last-child
    //margin-left 0
    //font-size 20px
.contacts-block
  margin-right 24px
  li
    display inline-block
    font-size 20px
    margin-left 35px
.wrapper-select
  width 180px
  cursor pointer
  position relative
  box-sizing border-box
  border 1px solid
  border-radius 2%
  display inline-block
.wrapper-select_default
  position absolute
  display block
  width inherit
  padding-right 10px
  padding-left 8px
  padding-top 5px
  padding-bottom 5px
  box-sizing border-box
  border 1px solid black
  border-radius 6%
  &:after
    content ''
    display block
    position absolute
    top 7px
    right 7px
    width 10px
    height 10px
    border 3px solid #1b75bb
    border-top none
    border-right none
    transform rotate(-45deg)
.wrapper-select_list
  position absolute
  top 29px
  width inherit
  padding 0
  margin 0
  margin-top -1px
  border 1px solid black
  border-top none
  box-sizing border-box
  opacity 1
  visibility hidden
.wrapper-select_item
  display block
  padding 8px
  list-style none
  &:hover
    background-color grey
  &:last-child
    padding-bottom 5px

.select_default
  display inline-block
  &:after
    content ''
    display block
    top 7px
    right 7px
    width 10px
    height 10px
    border-top none
    border-right none
    transform rotate(-45deg)

.active
  opacity 1
  visibility visible

.choosen
  background-color blue



@media screen and (max-width: 768px)
  #adv-search
    width 270px
    .dropdown
      &.dropdown-lg
        position static !important
      .dropdown-menu
        min-width 270px
    .navbar-header
      float right
    .navbar-brand
      &.text
        &.text-right
          margin-left 0
          .form-group
            display block
    .link-item
      font-size 24px

*/

// ul, ol
//   margin 0
//   padding 0
// .nav
//   width 100%
// .navbar
//   margin-bottom 0
//   margin-bottom 0
// .navbar-default
//   background-color #fff
//   border none
//   .navbar-brand
//     text-align center
//     padding 0
//     max-width 181px
//     font-size 15px
//     margin-left 0
//     height auto
//     padding 0
//     height auto
//   .navbar-header
//     vertical-align middle
//     float left
// .navbar-nav > li > a
//   padding 6px 18px
//   &:hover
//     background-color #fff
//
// .dropdown,
// .dropdown-menu
//   min-width 180px
//   border-radius 4px
//   border 1px solid #404041
//   margin-top -1px
//   padding 0
//   a
//     font-size 18px
//     color #222
//   .icon
//     display inline-block
//     position absolute
//     right 5%
//     color #1b75bb
// .dropdown-menu
//   li
//     padding 0
//     a
//       color #222
//       font-size 14px
//       padding 0 5px
//
// .input-group-btn
//   > .btn-group
//     display flex !important
//     .btn
//       border-radius 3px
//       border 1px solid #707071s
//       &:last-child
//         border-top-right-radius 4px
//         border-bottom-right-radius 4px
//     .form-horizontal
//       .btn[type="submit"]
//         border-top-left-radius 4px
//         border-bottom-left-radius 4px
//         padding 0
//         margin 0
// .group-buttons
//   .btn
//     width calc(50% - 4px)
//     font-size 14px
//     font-weight 700
//     color #5c5c5c
//     text-shadow 0 1px 1px rgba(0,0,0,.2)
//     border-color 1px solid #5c5c5c !important
//     padding 10px 26px
//     white-space normal
//     text-transform uppercase
//     &:hover
//       color #fff
//       background-color #26a9e0
//
// .form-horizontal
//   &.form-group
//    margin-left 0
//    margin-right 0
// .user-block
//   .card
//     width 40px
//     height 40px
//     display inline-block
//     border 1px solid #4c4c4d
//     border-radius 4px
//     background-image url('images/img1.jpg')
//     background-size cover
//   .card-seting
//     display inline-block
//     vertical-align middle
//     padding-left 10px
//     font-size 15px
//
// img
//   &.img-responsive
//     width 60px
//     height 60px
//     display inline-block
//     box-sizing border-box
// .link-item
//   display inline-block
//   font-size 30px
//   letter-spacing 3px
//   a
//     text-decoration none
//     font-weight bold
//     margin-left 8px
//     &:hover
//       background-color none
//       color #26a9e0
//   &:first-child
//     margin-left 35px
// .form-group
//   &.form-group-object
//     font-size 18px
//     label
//       text-align left
//     input
//       max-width 670px
//   &:hover
//     background-color none
//   //&:last-child
//     //margin-left 0
//     //font-size 20px
// .contacts-block
//   margin-right 24px
//   li
//     display inline-block
//     font-size 20px
//     margin-left 35px
// .wrapper-select
//   width 180px
//   cursor pointer
//   position relative
//   box-sizing border-box
//   border 1px solid
//   border-radius 2%
//   display inline-block
// .wrapper-select_default
//   position absolute
//   display block
//   width inherit
//   padding-right 10px
//   padding-left 8px
//   padding-top 5px
//   padding-bottom 5px
//   box-sizing border-box
//   border 1px solid black
//   border-radius 6%
//   &:after
//     content ''
//     display block
//     position absolute
//     top 7px
//     right 7px
//     width 10px
//     height 10px
//     border 3px solid #1b75bb
//     border-top none
//     border-right none
//     transform rotate(-45deg)
// .wrapper-select_list
//   position absolute
//   top 29px
//   width inherit
//   padding 0
//   margin 0
//   margin-top -1px
//   border 1px solid black
//   border-top none
//   box-sizing border-box
//   opacity 1
//   visibility hidden
// .wrapper-select_item
//   display block
//   padding 8px
//   list-style none
//   &:hover
//     background-color grey
//   &:last-child
//     padding-bottom 5px
//
// .select_default
//   display inline-block
//   &:after
//     content ''
//     display block
//     top 7px
//     right 7px
//     width 10px
//     height 10px
//     border-top none
//     border-right none
//     transform rotate(-45deg)
//
// .active
//   opacity 1
//   visibility visible
//
// .choosen
//   background-color blue
//
// .link-box
//   display flex
//   justify-content space-between
//   padding 0 25px
//   a
//     font-size 25px
//     text-decoration none
//     &:hover
//       color #26a9e0
//
// @media screen and (max-width: 768px)
//   #adv-search
//     width 270px
//     .dropdown
//       &.dropdown-lg
//         position static !important
//       .dropdown-menu
//         min-width 270px
//     .navbar-header
//       float right
//     .navbar-brand
//       &.text
//         &.text-right
//           margin-left 0
//           .form-group
//             display block
//     .link-item
//       font-size 24px
