/******************************
*
*   M01- login.styl
*
******************************/
.header-top
  display inline-block
  color #979797
  a
    text-decoration none
    color #979797
    &:hover
      color #26a9e0
  .fa
    margin-right 20px
    color #979797
    &:hover
      color #26a9e0
      cursor pointer
  .header-logo
    width 198px
  .header-top-phone
    margin-top 10px
    margin-right 24px
    margin-left 35px
    font-size 18px
    +below($mqPhone)
      float right
  .header-top-envelope
    margin-top 10px
    font-size 18px
    +below($mqPhone)
      float right
  .header-top-card
    width 40px
    height 40px
    background-image url('../css/images/img1.png')
    background-repeat no-repeat
    background-size cover
    border 1px solid #d0d2d3
    border-radius 4px
    margin-right 15px
  .header-top-setting
    margin-top 5px
.header-bottom
  display inline-block
  padding-right 10px

  .navbar-default
    font-family 'cuprum-regular', sans-serif
    border none
    background-color transparent
    .navbar-header
      .navbar-toggle
        position absolute
        top 0px
        right 0px
        padding 0px
        border-color transparent
        float none
        margin 0px
        span
          margin-bottom 0px
          &:nth-of-type(2)
            margin-top 6px
            margin-bottom 6px
    .navbar-collapse
      padding-left 0px
      .navbar-nav
        .dropdown
          min-width 198px
          border-radius 4px
          border 1px solid #404041
          margin-top -1px
          padding 0
          .dropdown-toggle
            padding 6px 18px
            font-size 18px
            .icon
              display inline-block
              position absolute
              right 5%
              color #1b75bb
          .dropdown-menu
            width 100%
            position absolute
            li
              padding 0
              a
                color #222
                font-size 14px
                padding 0 5px
        .active
          > a
            background-color transparent
            color #26a9e0
      .link-box
        margin-left 10px
        padding 7px 25px 0px
        float left !important
        li
          margin-right 5em
          &:last-child
            margin-right 0px
          a
            padding 0
            font-size 2rem
            text-decoration none
            &:hover
              color #26a9e0

@media screen and (max-width:$mqDesktop) and (min-width:$mqTablet)
  .header-bottom
    .navbar-default
      .navbar-collapse
        .link-box
          li
            margin-right 2rem
            font-size 18px
            font-family "cuprum-regular", sans-serif

@media screen and (max-width:$mqTablet) and (min-width:$mqPhone)
  .header-bottom
    nav.navbar
      padding 0
    .navbar-default
      .navbar-header
        .navbar-header
          padding 0px
        .navbar-toggle
          margin 0px
          float none
      .navbar-collapse
        .link-box
          li
            margin-right 1em
            a
              font-size 20px

@media screen and (min-width:$mqPhone)
  .header-bottom
    .navbar-default
      .navbar-header
        .navbar-toggle
          display none

@media screen and (max-width:$mqPhone)
  .header-bottom
    .navbar-default
      margin-bottom 0px
      .navbar-collapse
        padding-left 15px
        .link-box
          text-align center
          li
            margin-right 0
            a
              padding-bottom 10px

@media screen and (max-width:$mqTiny)
  .header-top
    .header-logo
      width 147px
    .header-top-phone
      margin-right 8px
      margin-left 8px
