/*!******************************
 *
 *   M01a-nav-login.styl
 *
 ******************************/
.header
  max-width 1200px
  margin 25px auto
  //height 70px
  &.-adminStyle
    border-bottom 3px solid #b7c19f
    color #999
  .container
    grid-columns
    margin 0
    padding 0
    .centralBlock
      text-align left
      margin 0
      padding 0
      .logo
      .text
        display inline-block
        vertical-align middle
    .rightSide
      color #58595b
      text-align right
      .text
        margin-right 10px
        display inline-block
        vertical-align middle
      .date
        display inline-block
        vertical-align middle
