body
  padding-top 90px
#authpage
  background-color #828384
*
  padding 0
  margin 0
.row-no-padding
  margin-left 0
  margin-right 0
  [class*="col-"]
    padding-left 0 !important
    padding-right 0 !important
input#login-submit.form-control.btn.btn-login,
input#register-submit.form-control.btn.btn-register
  margin 60px 0 25px 0
.panel-body.login
  display block
  padding 30px
.register-form
  padding 0
.panel-login
  border-color #ccc
  -webkit-box-shadow 0px 2px 3px 0px rgba(0,0,0,0.2)
  -moz-box-shadow 0px 2px 3px 0px rgba(0,0,0,0.2)
  box-shadow 0px 2px 3px 0px rgba(0,0,0,0.2)
  & >.panel-heading
    color #00415d
    background-color #fff
    border-color #fff
    text-align center
    a
      text-decoration none
      color #666
      font-weight bold
      font-size 15px
      -webkit-transition all 0.1s linear
      -moz-transition all 0.1s linear
      transition all 0.1s linear
      &.active
        color #029f5b
        font-size 18px
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"]
  height 45px
  border 1px solid #ddd
  font-size 16px
  -webkit-transition all 0.1s linear
  -moz-transition all 0.1s linear
  transition all 0.1s linear

.panel-login input:hover,
.panel-login input:focus
  outline none
  -webkit-box-shadow none
  -moz-box-shadow none
  box-shadow none
  border-color #ccc

.btn-login
  background-color #033a5c
  outline none
  color #fff
  font-size 14px
  height auto
  font-weight normal
  padding 14px 0
  text-transform uppercase
  border-color #2d5972

.btn-login:hover,
.btn-login:focus
  color #fff
  background-color #53A3CD
  border-color #53A3CD

.forgot-password
  text-decoration underline
  color #888

.forgot-password:hover,
.forgot-password:focus
  text-decoration underline
  color #666

.btn-register
  background-color #2face4
  outline none
  color #fff
  font-size 14px
  height auto
  font-weight normal
  padding 14px 0
  text-transform uppercase
  box-shadow #406775

.btn-register:hover,
.btn-register:focus
  color #fff
  background-color #2face4
  border-color #2face4
.register
  margin 15px 0
  .username
    margin-right 15px
