/*******************************
 *
 *   M02-login.styl
 *
 ******************************/

 #authpage
   font-family 'cuprum-regular', sans-serif
   padding-top 25px
   padding-bottom 25px
   margin 0 auto
   .row-no-padding
     margin-left 0
     margin-right 0
     [class*="col-"]
       padding-left 0 !important
       padding-right 0 !important
   .nav
     &.nav-tabs
       &.nav-justified
           position relative
           li
               a
                   padding 7px 0
                   color #6d6e71
   .panel-body
     &.login
       display block
       padding 0 30px
       min-height 465px
   .nav-tabs
     border-bottom none
   .register-form
     padding 0
   .panel-login
     max-width 640px
     margin 50px auto
     border-top-right-radius 1px solid #6e6f71
     border-top-left-radius 1px solid #6e6f71
     & > .panel-heading
       padding 0
       color #00415d
       background-color #fff
       text-align center
       a
         text-decoration none
         text-transform uppercase
         font-weight bold
         font-size 18px
         &.active
           color #939598
           font-size 18px
           &:hover
             background-color #e7e8e9
   .btn-login
     background-color #9ea97b
     outline none
     color #fff
     font-size 14px
     height auto
     font-weight normal
     padding 12px 0
     text-transform uppercase
     border-color #9ea97b
     &:hover
       color #fff
       background-color #88926a
       border-color #88926a
     &:focus
       color #fff
       background-color #88926a
       border-color #88926a
   .forgot-password
     color #888
     &:hover
       color #666
     &:focus
       color #666
   .btn-register
     background-color #25a8e0
     outline none
     color #fff
     font-size 14px
     height auto
     font-weight normal
     padding 12px 0
     box-shadow #25a8e0
     &:hover
       color #fff
       background-color #2face4
       border-color #2face4
     &:focus
       color #fff
       background-color #2face4
       border-color #2face4
   .register
     margin-bottom 22px
     & > input
       border-radius 4px
       padding 17px
       font-size 20px
       font-style italic
     .username
       margin-right 15px

 #authpage form#login-form,
 #authpage form#register-form
   margin-top 33px
   font-size 20px
   color #6d6e71

 input#login-submit.form-control.btn.btn-login,
 input#register-submit.form-control.btn.btn-register
   font-size 25px
   padding 3px
   text-transform none
   border-radius 4px
   font-style normal

 input#login-submit.form-control.btn.btn-login:hover,
 input#register-submit.form-control.btn.btn-register:hover
     color #fff

 input#login-submit
   &.form-control
     &.btn
       &.btn-login
         margin-top 45px
         margin-bottom 20px
         padding-top 15px
         padding-bottom 15px

 input#register-submit
   &.form-control
     &.btn
       &.btn-register
           margin-top 60px

 .form-group
   &.text-left
     font-size 18px
     margin-bottom 0
     a
       &.forgot-password
         font-size 20px
         color #4052a3
         font-weight 100
     label
       margin-left 10px
