/*!******************************
 *
 *   M04-calendar.styl
 *
 ******************************/

#calendar
  time
    &.icon
       color #2a3f54
       display inline-block
       width 73px
       height 70px
       background-color #e6e7e8
       margin-right 10px
       border-radius 4px
       overflow hidden
       &:last-child
         margin-right 0
       *
         display block
         width 100%
         font-style normal
         text-align center
       strong
         top 0
         color #fff
         background-color #b7c19f
         box-shadow 0 2px 0 #b7c19f
       em
         font-size 10px
         text-transform uppercase
       span
         width 100%
         font-size 24px
         color #2f2f2f
         line-height 20px
       sup
         position inherit
         line-height 15px
         text-transform uppercase
