/*!******************************
 *
 *   M06-slavutich
 *
 ******************************/

#sidebar
  width 100%
    .left-sidebar
      display inline-block
    .right-sidebar
      display inline-block
