/*******************************
 *
 *   M10-panel.styl
 *
 ******************************/

.panel-primary
  > .panel-heading
    background-color #839eb2

.panel-success
  > .panel-heading
    background-color #bbbdbf

.panel-info
  > .panel-heading
    background-color #c1b49a

.panel-body
  .table
    margin-bottom 0
    thead
      tr
        border-color none
    .table-condensed.table-striped
      padding 0

.panel-heading
  vertical-align middle
  border-color inherit
  border-top-right-radius 0
  border-top-left-radius 0
  padding 9px 15px 9px 15px
  font-size 15px
  a, i
    color #fff
    display inline-block
  .name_colection
    color #fff
    display inline-block
    margin 0
    padding-left 15px
