/*!******************************
 *
 *   M12- buttons.styl
 *
 ******************************/


.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn + .dropdown-toggle
  background-color #26a9e0
  border-color #26a9e0
  color #fff
ul.dropdown-menu
  position relative
ul.link_list
  li>a
    color #979797
    font-size 25px
    &:hover
      color #26a9e0
      text-decoration none
@media screen and (max-width: 768px)
  // ul.link_list
  //   margin-left none
