/******************************
 *
 *   M14-filter.styl
 *
 ******************************/
.float-grid-columns
  width 260px
  .top-filters
    .cell-list
        width 100%

        h3.panel-title
            text-align center
            text-transform uppercase

        &__calendar


        &__title
          background-color #18c224

        .f-title
          p
            text-transform uppercase
            font-weight bold
          .cell__group
              .list-group
                  .list-group-item
                      border none
