// M18-inspection-for-object.styl

.inspection-for-object
  display block
  vertical-align middle
  p
    display inline-block
    font-size 24px
  .btn-group
    background #b7c19f
    padding 10px 18px

  .btn-delete
    background-color: #fff
    border: 1px solid #707071
    color: #404041
  .btn-default
    background-color transparent
    border: 1px solid #707071
    color: #404041
