/*!******************************
*
*   M18-inspection-for-object.styl
*
******************************/
.inspection-for-object
  display block
  vertical-align middle
  .color-green
    display inline-block
    font-size 20px
    color #8bc53f
  .color-blue
    display inline-block
    font-size 20px
    color #26a9e0
  .btn-group
    background #b7c19f
    &__pull-center
      width 387px
      padding 10px 18px
    &__elips
      margin-left 15px
    .btn-delete
      background-color #fff
      border #707071
      color #404041
    .btn-default
      background-color transparent
      border:1px solid
      border-radius 7%
      margin-right 5px
      outline none
      &:nth-last-of-type(1)
       margin-right 0px
      &__white
        background-color #fff
        .select
          width 133px
      &__transpar
        border-color #6d6e70
        color #6d6e70
      &__save
        border-color #fff
        color #fff
        &:hover
          background-color #26a9e0
          color #fff
      &__delete
        background-color #fff
        color #ec1c24
        border-color #fff
      &__clean
        background #ff3366
        color #fff
        border-color #ff3366
      &__white.select
       .fa
         margin-left 10px
         color black !important
         font-size 12px

.inspection-btn
   margin-bottom 30px
   p
     font-size 24px
     font-family "Cuprum-Regular", Helvetica, Arial, sans-serif
