/*!******************************
*
*   M18-inspection-for-object.styl
*
******************************/
.inspection-for-object
  display block
  vertical-align middle
  font-family Cuprum, sans-serif
  .color-green
    display inline-block
    font-size 22px
    text-transform uppercase
    color #8bc53f
  .color-blue
    display inline-block
    font-size 25px
    text-transform uppercase
    color #26a9e0
  .btn-group
    background #b7c19f

    &__pull-center
      width 387px
      padding 10px 18px
      font-family "cuprum-regular", sans-serif
      +below($mqPhone)
        float none
        margin-bottom 20px
    &__elips
      margin-left 15px
    .btn-delete
      background-color #fff
      border #707071
      color #404041
    .btn-default
      background-color transparent
      border:1px solid
      border-radius 7%
      margin-right 5px
      outline none
      &:nth-last-of-type(1)
       margin-right 0px
      &__white
        background-color #fff
        +below($mqDesktop)
          font-size 14px
        .select
          width 133px
      &__transpar
        border-color #6d6e70
        color #6d6e70
        &:hover
          background-color #fff
          color #6d6e70
          border-color #fff
      &__save
        border-color #fff
        color #fff
        &:hover
          border-color #26a9e0
          background-color #26a9e0
          color #fff
      &__delete
        background-color #fff
        color #ff3366
        border-color #fff
        &:hover
          color #fff
          background-color #ff3366
          border-color #ff3366
      &__clean
        background #ff3366
        color #fff
        border-color #ff3366
      &__white.select
       .fa
         margin-left 10px
         color black !important
         font-size 12px


.inspection-btn
   margin-bottom 30px
   p
     font-size 24px
     font-family "Cuprum-Regular", Helvetica, Arial, sans-serif
