/*!******************************
 *
 *   M22-catalog.styl
 *
 ******************************/
#catalog
  .catalog_items
    display flex
    justify-content space-between

    .catalog_item
      background-color #b7c19f
      text-transform uppercase
      padding 7px 75px
      a
        color #fff
        font-size 22px
        line-height 22px

  .catalog_buttons-select,
  .catalog_buttons-checkbox
    display inline-block
  .catalog_buttons-checkbox
    color #fff
    padding-right 70px

  .input-group
    margin-bottom 5px
    &:last-child
        span
            &.input-group-addon-remove
                display none
        input
            &.form-control
                border-bottom-right-radius 3px
                border-top-right-radius 3px
    span
      &.input-group-addon-remove
        cursor pointer
        background none
        border none

.catalog__promo
  display flex
  justify-content space-between
.catalog_product
  padding 15px 0
  .catalog-box
    margin-bottom 15px
    padding-bottom 10px
    border-bottom 1px solid #dbdbdb
    .catalog__promo
      display flex
      position relative
      .image-cell
        width auto
      .info-cell
        margin-left 15px
        .text-title
          font-size 13px
          line-height 17px
          color blue
        .catalog_object-type
          width 62%
          margin-top 10px
          margin-bottom 10px
      .price-box
        position absolute
        right 0
        width auto

.catalog_page-nav
  margin-bottom 10px
