table.table-bordered
  width:100%
  border-collapse: collapse
  thead
   background-color #d0d2d3
  .table-bordered tbody
    height: 562px
    overflow-y: auto
    width: 100%

  .table-bordered thead tr
    width: 99%
    padding 5px

  .table-bordered tr
    width: 100%

  .table-bordered thead,
  .table-bordered tbody,
  .table-bordered tr,
  .table-bordered td,
  .table-bordered th
    display: inline-block

  .table-bordered thead
    background #d0d2d3
    color #58595b

  .table-bordered tbody td,
  .table-bordered thead > tr> th
    float: left
    border-bottom-width: 0

  .table-bordered>tbody>tr>td,
  .table-bordered>tbody>tr>th,
  .table-bordered>tfoot>tr>td,
  .table-bordered>tfoot>tr>th,
  .table-bordered>thead>tr>td,
  .table-bordered>thead>tr>th
    padding: 8px 15px
    height: 50px
    text-align: center
    line-height: 32px

  .odd
    background: #ffffff
    color: #000

  .even
    background: #efefef
    color: #000

  .table-bordered_scrollbar
    height: 612px
    overflow-y: scroll

  .table-bordered_scrollbar::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9)
    border-radius: 10px
    background-color: #444444

  .table-bordered_scrollbar::-webkit-scrollbar
    width: 1%
    min-width: 5px
    background-color: #F5F5F5

  .table-bordered_scrollbar::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: #D62929
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)


table.table-responsiv
  width 100%
  input[type='text']
    width 100%
    border-radius 4px
    padding 5px
    border-width 1px solid
