//*!******************************
//-*   Home.jade
//-******************************/

extends layouts/default
block vars
  - page.title = 'Homepage'
  - page.bodyid = 'homepage'

block content
  .wrapper
    include modules/M01-nav
    include modules/M12-buttons
  include modules/M03-inspectsidebar
  include modules/M03-inspectsidebar
