//- ------------------------------------------
//-
//-     Inspection-1.jade
//-
//- ------------------------------------------

extends layouts/default
block vars
  - page.title = 'Inspection-1'
  - page.bodyid = 'authpage'

block content
  .container
    .row
      include modules/M01-navbar
      #accordion
        .panel-group
          .panel.panel-heading
            btn.btn-link.addcollection
              i.fa.fa-plus(aria-hidden='true')
            ul.list-inspection
              li 
                a(href="#") ОСББ Менеджмент
              li  >
              li Management
            form.navbar-form.navbar-right.form-horizontal(role='search')
              .input-group
                button.btn(type='submit')
                  i.fa.fa-search(aria-hidden='true')
                input.search-box(type='text', placeholder='Search')
                btn.btn-link.clickable(data-toggle='collapse', data-target='#collapse1')
                  i.fa.fa-chevron-down(aria-hidden='true')
              .btn-group.btn-group__elips
                btn.btn-link
                  i.fa.fa-ellipsis-v(aria-hidden='true')
          #collapse1.panel-body.not-padd.collapse.in
            include modules/M06-Slavutich
            .col-md-3
              include modules/M14-filters-inspection
              include modules/M15-filters-object

            .col-md-9.not-padd
              include modules/M18-inspection-for-object
              include modules/M20-statistic
              include modules/M05-tables-inspection
              include modules/M17-pagination
