//- ------------------------------------------
//-
//-     P01-page-title.jade
//-
//- ------------------------------------------

extends layouts/default
block vars
  - page.title = 'Page title'
  - page.bodyid = 'authpage'


block content
  .container
    .row
      include modules/M01-navbar
    .row.text-top.clearfix
      include modules/M12-buttons
    .row
      include modules/M21-inspection-in-object
