//Page-test.jade

extends layouts/default
block vars
  - page.title = 'Page title'
  - page.bodyid = 'pagebody'

block content
  .container
    include modules/M01a-nav-test
    include modules/M04-calendar
