//-******************************
//-
//-*   P01a-page-inspection.jade
//-
//-******************************/

extends layouts/default
block vars
  - page.title = 'PageInspection'
  - page.bodyid = 'authpage'

block content
  .container
    .row 
//-       include modules/M01-navbar
//-       include modules/M12-buttons
//-       include modules/M06-Slavutich
//-     .row
//-       include modules/M08-panel-success
//-       include modules/M06-Slavutich
//-     .row
//-       .col-md-2
//-         include modules/M14-filters-inspection
//-         include modules/M15-filters-object
//-       .col-md-10
