extends layouts/default
block vars
  - page.title = 'Page title'
  - page.bodyid = ''

block content

  include modules/M01-nav
  .container
    include modules/M03-youfrontmodul
  
  include modules/M04-sticky-footer
