//- ------------------------------------------
//-
//-     Page.jade
//-
//- ------------------------------------------

extends layouts/default
block vars
  - page.title = 'Page title'
  - page.bodyid = 'authpage'

block content
  .container
    .row
      include modules/M01-navbar
      include modules/M12-buttons

    .row
      .col-md-2
        include modules/M14-filters-inspection
        include modules/M15-filters-object

      .col-md-10
        include modules/M18-inspection-for-object
        include modules/M20-statistic
        include modules/M05-tables-inspection
        include modules/M17-pagination
