//- ------------------------------------------
//-
//-     Home.jade
//-
//- ------------------------------------------

extends layouts/default
block vars
  - page.title = 'Homepage'
  - page.bodyid = 'homepage'

block content
  .container
    .row
      include modules/M01-navbar
    .row.text-top
      include modules/M12-buttons
    .row
      include modules/M03-inspection
