//Page.jade

extends layouts/default
block vars
  - page.title = 'Page title'
  - page.bodyid = 'pagebody'

block content
  .wrapper
    include modules/M01-nav
    include modules/M12-buttons
    include modules/M12-buttons
    include modules/M12-buttons
    include modules/M12-buttons
  include modules/M03-inspection
