//- ------------------------------------------
//-
//-    Proba.jade
//-
//- ------------------------------------------

extends layouts/default
block vars
  - page.title = 'Login'
  - page.bodyid = 'authpage'
  
block content
  p M01-navbar
  include modules/M01-navbar
      
      //- p M18-inspection-for-object
      //- include modules/M18-inspection-for-object
      
      //- p M20-statistic
      //- include modules/M20-statistic
      
      //- p M22-sorts-catalog
      //- include modules/M22-sorts-catalog

      //- .row
      //-   p M11-panel
      //-   include modules/M11-panel
      //- .row
      //-   p M03-inspection
      //-   include modules/M03-inspection
      //- .row
      //-   p M11-panel
      //-   include modules/M11-panel
      //- .row
      //-   p M12-buttons
      //-   include modules/M12-buttons
      //- .row
      //-   p M001-example
      //-   include modules/M001-example
      //- .row
      //-   p M05-tables
      //-   include modules/M05-tables
      //- .row
      //-   p M06-Slavutich
      //-   include modules/M06-Slavutich
      //- .row
      //-   p M07-Korsun
      //-   include modules/M07-Korsun
      //- .row
      //-   p M08-panel-OSBB
      //-   include modules/M08-panel-OSBB
      //- .row
      //-   p M09-panel-primary
      //-   include modules/M09-panel-primary
      //- .row
      //-   p M09a-success
      //-   include modules/M09a-success
      //- .row
      //-   p M10-info
      //-   include modules/M10-panel-info
  //-https://jsfiddle.net/8oc4fk6q/
  //-https://www.youtube.com/watch?v=bH9zEDcMlBA
