// proba.jade

extends layouts/default
block vars
  - page.title = 'Login'
  - page.bodyid = 'authpage'

block content
  .container-fluid
    .row
    
    div(style="max-width: 900px; margin: 0 auto;")
      ul.nav.nav-tabs(role='tablist')
        li.active
          a(href='#login', data-toggle='tab') Login
        li
          a(href='#register', data-toggle='tab') Register
      #login.tab-pane.fade.in.active(role='tabpanel')
        form.form-horizontal(method='post', action='')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-user
              input.form-control(type='text', name='login_email', placeholder='Username or email', required='required', value='')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-key
              input.form-control(type='password', name='login_password', placeholder='Password', required='required')
          .form-group
            input#rememberMe(type='checkbox')
            label(for='rememberMe') Remember Me
            a.pull-right(href='#') Forgot password?
          input.btn.btn-success.btn-custom(type='submit', value='Login')
      #register.tab-pane.fade(role='tabpanel')
        form.form-horizontal(method='post', action='')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-user
              input.form-control(type='text', name='register_username', placeholder='Username', required='required', value='')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-male
              input.form-control(type='text', name='register_fullname', placeholder='Full name', required='required', value='')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-envelope
              input.form-control(type='email', name='register_email', placeholder='Email', required='required', value='')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-lock
              input.form-control(type='password', name='register_password', placeholder='Password', required='required')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-lock
              input.form-control(type='password', name='register_cpassword', placeholder='Confirm Password', required='required')
          input.btn.btn-success.btn-custom(type='submit', value='Register')
      #register.tab-pane.fade(role='tabpanel')
        form.form-horizontal(method='post', action='')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-user
              input.form-control(type='text', name='register_username', placeholder='Username', required='required', value='')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-male
              input.form-control(type='text', name='register_fullname', placeholder='Full name', required='required', value='')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-envelope
              input.form-control(type='email', name='register_email', placeholder='Email', required='required', value='')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-lock
              input.form-control(type='password', name='register_password', placeholder='Password', required='required')
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-lock
              input.form-control(type='password', name='register_cpassword', placeholder='Confirm Password', required='required')
          input.btn.btn-success.btn-custom(type='submit', value='Register')

  //- .container
  //-   .row
  //-     .col-md-6
  //-       .panel.with-nav-tabs.panel-default
  //-         .panel-heading
  //-           ul.nav.nav-tabs
  //-             li.active
  //-               a(href='#tab1default', data-toggle='tab') Default 1
  //-             li
  //-               a(href='#tab2default', data-toggle='tab') Default 2
  //-             li
  //-               a(href='#tab3default', data-toggle='tab') Default 3
  //-             li.dropdown
  //-               a(href='#', data-toggle='dropdown')
  //-                 | Dropdown 
  //-                 span.caret
  //-               ul.dropdown-menu(role='menu')
  //-                 li
  //-                   a(href='#tab4default', data-toggle='tab') Default 4
  //-                 li
  //-                   a(href='#tab5default', data-toggle='tab') Default 5
  //-         .panel-body
  //-           .tab-content
  //-             #tab1default.tab-pane.fade.in.active Default 1
  //-             #tab2default.tab-pane.fade Default 2
  //-             #tab3default.tab-pane.fade Default 3
  //-             #tab4default.tab-pane.fade Default 4
  //-             #tab5default.tab-pane.fade Default 5
