// proba.jade

extends layouts/default
block vars
  - page.title = 'Login'
  - page.bodyid = 'authpage'

block content
  .container
    .row.centered-form
      .col-xs-12.col-sm-8.col-md-4.col-sm-offset-2.col-md-offset-4
        .panel.panel-default
          .panel-heading
            h3.panel-title
              | Please sign up for Bootsnipp 
              small It's free!
          .panel-body
            form(role='form')
              .row
                .col-xs-6.col-sm-6.col-md-6
                  .form-group
                    input#first_name.form-control.input-sm.floatlabel(type='text', name='first_name', placeholder='First Name')
                .col-xs-6.col-sm-6.col-md-6
                  .form-group
                    input#last_name.form-control.input-sm(type='text', name='last_name', placeholder='Last Name')
              .form-group
                input#email.form-control.input-sm(type='email', name='email', placeholder='Email Address')
              .row
                .col-xs-6.col-sm-6.col-md-6
                  .form-group
                    input#password.form-control.input-sm(type='password', name='password', placeholder='Password')
                .col-xs-6.col-sm-6.col-md-6
                  .form-group
                    input#password_confirmation.form-control.input-sm(type='password', name='password_confirmation', placeholder='Confirm Password')
              input.btn.btn-info.btn-block(type='submit', value='Register')
