// proba.jade

extends layouts/default
block vars
  - page.title = 'Login'
  - page.bodyid = 'authpage'
  
block content    
  .container
    .row      
      include modules/M01-navbar
      include modules/M03-inspection
      include modules/M12-buttons
