// proba.jade

extends layouts/default
block vars
  - page.title = 'Login'
  - page.bodyid = 'authpage'
  
block content    
  .container
    .row      
      include modules/M01-nav
      include modules/M12-buttons
      include modules/M001-example
