//- ------------------------------------------
//-
//-    Proba.jade
//-
//- ------------------------------------------

extends layouts/default
block vars
  - page.title = 'Login'
  - page.bodyid = 'authpage'
  
block content
    include modules/M01-navbar
    .container
        .navbar-template.text-center

