// proba.jade

extends layouts/default
block vars
  - page.title = 'Login'
  - page.bodyid = 'authpage'

block content
  .container
    .row
      .col-md-6
        .panel.with-nav-tabs.panel-default
          .panel-heading
            ul.nav.nav-tabs
              li.active
                a(href='#tab1default', data-toggle='tab') Default 1
              li
                a(href='#tab2default', data-toggle='tab') Default 2
              li
                a(href='#tab3default', data-toggle='tab') Default 3
              li.dropdown
                a(href='#', data-toggle='dropdown')
                  | Dropdown 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#tab4default', data-toggle='tab') Default 4
                  li
                    a(href='#tab5default', data-toggle='tab') Default 5
          .panel-body
            .tab-content
              #tab1default.tab-pane.fade.in.active Default 1
              #tab2default.tab-pane.fade Default 2
              #tab3default.tab-pane.fade Default 3
              #tab4default.tab-pane.fade Default 4
              #tab5default.tab-pane.fade Default 5
