//- ------------------------------------------
//-
//-    Proba.jade
//-
//- ------------------------------------------

extends layouts/default
block vars
  - page.title = 'Login'
  - page.bodyid = 'authpage'
  
block content
  //-******************************
  //-
  //-*   M01-navbar.jade
  //-
  //-******************************/
  .header
    .header-top
      .container
        .row
          .col-xs-12
              .header-logo.pull-left.hidden-xs 
                a(href='#')
                  img(src='css/images/Inspection_4.png')
              .header-top-phone.pull-left
                a(href='+38 044 000 0000')
                  i.fa.fa-phone(aria-hidden='true', type='text', data-toggle='tooltip', data-placement='top', title='+38 044 000 0000')
                  span.hidden-xs  +38 044 000 0000
              .header-top-envelope.pull-left
                a(href='inspect@email.com') 
                  i.fa.fa-envelope(aria-hidden='true', type='text', data-toggle='tooltip', data-placement='top', title='inspect@email.com')
                  span.hidden-xs  inspect@email.com
                //- img(src='css/images/img1.jpg', width='40', height='40')
              .header-top-setting.pull-right.hidden-xs
                a(href='Auth.html')
                  i.fa.fa-cog.fa-2x(aria-hidden='true')
              .header-top-card.pull-right.hidden-xs
    .header-bottom
      nav.navbar.navbar-default
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | KDMA OSBB Fund
                  .icon
                    i.fa.fa-chevron-down(aria-hidden='true')
                ul.dropdown-menu
                  li.wrapper-select_item
                    a(href='#') Не определено
                  li.wrapper-select_item
                    a(href='#') Ок
                  li.wrapper-select_item
                    a(href='#') Внимание
                  li.wrapper-select_item
                    a(href='#') Критично
                  li.wrapper-select_item
                    a(href='#') Не корректно
                  li.wrapper-select_item
                    a(href='#') Без оценки
            ul.nav.navbar-nav.navbar-right.link-box
              li.link-item.active
                a(href="", target="_blank") OBJECTS
              li.link-item
                a(href="", target="_blank") INSPECTIONS
              li.link-item
                a(href="", target="_blank") USERS
              li.link-item
                a(href="", target="_blank") TEMPLATES
              li.link-item
                a(href="", target="_blank") DICTIONARY

  
  //- include modules/M01-navbar
  //- include modules/M23-object-list
  //- include modules/M25-feature-object-list
      //- 
      //- p M18-inspection-for-object
      //- include modules/M18-inspection-for-object
      
      //- p M20-statistic
      //- include modules/M20-statistic
      
      //- p M22-sorts-catalog
      //- include modules/M22-sorts-catalog

      //- .row
      //-   p M11-panel
      //-   include modules/M11-panel
      //- .row
      //-   p M03-inspection
      //-   include modules/M03-inspection
      //- .row
      //-   p M11-panel
      //-   include modules/M11-panel
      //- .row
      //-   p M12-buttons
      //-   include modules/M12-buttons
      //- .row
      //-   p M001-example
      //-   include modules/M001-example
      //- .row
      //-   p M05-tables
      //-   include modules/M05-tables
      //- .row
      //-   p M06-Slavutich
      //-   include modules/M06-Slavutich
      //- .row
      //-   p M07-Korsun
      //-   include modules/M07-Korsun
      //- .row
      //-   p M08-panel-OSBB
      //-   include modules/M08-panel-OSBB
      //- .row
      //-   p M09-panel-primary
      //-   include modules/M09-panel-primary
      //- .row
      //-   p M09a-success
      //-   include modules/M09a-success
      //- .row
      //-   p M10-info
      //-   include modules/M10-panel-info
  //-https://jsfiddle.net/8oc4fk6q/
  //-https://www.youtube.com/watch?v=bH9zEDcMlBA
